{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="program-grid-container">
    <div class="program-grid-right">
        <div class="static-content">
            <br>
            <br>
            <h1 style="text-align: center !Important;">
                PRIVACY POLICY
            </h1>
            <hr>
            <br>
            <br>
            <p>
                <strong>Your Privacy Is Important To Us</strong>
                <br>
                <br>
                We at Scholarium, as a data controller and/or processor, is committed to protect and respect your privacy in compliance with the Data Privacy Act of 2012 in relation to all Personal and Sensitive Personal Information that we collect from you. 
                <br>
                For most purposes, we determine what happens to any information that we collect about you, which for all intents and purposes are related to your engagements with Scholarium - for this particular case, in relation to your application as a possible learner to any training programs offered by partners in the platform.
                <br>
                <br>
                <strong>What Information Do We Collect</strong>
                <br>
                <br>
                We may collect the following personal information from you when you create your profile with us:
                <br>
                <ul>
                    <li>Name</li>
                    <li>Email</li>
                    <li>Place of Residence</li>
                    <li>Age</li>
                    <li>Gender</li>
                    <li>Employment Status</li>
                    <li>Affiliation</li>
                    <li>Highest Educational Attainment</li>
                </ul>
                <br>
                <br>
                <strong>How Do We Use Your Information</strong>
                <br>
                <br>
                The collected personal information is utilized solely for application processing to training programs you are applying for within the platform. It is only shared and processed by authorized personnel and to program administrators of the training programs you are applying to.
                <br>
                <br>
                <strong>How Do We Protect And Handle Your Information</strong>
                <br>
                <br>
                Scholarium strictly enforces its Privacy Policy. It has implemented technological, organizational and physical security measures to protect personal data from loss, misuse, unauthorized modification, unauthorized or accidental access or disclosure, alteration or destruction.
                <br>
                <br>
                Only authorized Scholarium personnel and program administrators for training programs you apply to have access to your personal information. Unless specified otherwise, personal information you have provided for your profile will be kept in our databases unless requested for deletion by you or you have personally deleted your account with us.
                <br>
                <br>
                <strong>Your Rights Pertaining To Your Information</strong>
                <br>
                <br>
                If you would like to exercise your rights (as listed below) to or have any concerns about our handling of your personal information and sensitive personal information, you may contact the Data Protection Officer (DPO) through the following contact details:
                <br>
                <br>
                <br>
                Data Privacy Officer | <a href="mailto:ral@tmtgroup.io">ral@tmtgroup.io</a>
                <br>
                <br>
                <br>
                Rights you can exercise:
                <br>
                <ul>
                    <li>request a copy of your information which you supplied to us</li>
                    <li>request us to correct or delete your information</li>
                    <li>object to us processing your information</li>
                    <li>inform Scholarium of any clarification and/or complaint you have in relation to the personal information and sensitive personal information being collected, processed, shared, and/or purged</li>
                    <li>lodge a complaint with the National Privacy Commission</li>
                </ul>
            </p>
        </div>
    </div>
</div>
{% endblock %}