{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="program-grid-container">
    <div class="program-grid-right">
        <div class="program-partner-logos">
            <img src="https://coursebank-static-assets-tmtg.s3.ap-northeast-1.amazonaws.com/DICT-Logo-nobg.png">
            <img src="https://coursebank-static-assets-tmtg.s3.ap-northeast-1.amazonaws.com/ILCDB+logo_2.png">
            <img src="https://coursebank-static-assets-tmtg.s3.ap-northeast-1.amazonaws.com/coursera-social-logo-brand.png">
            <img src="https://coursebank-static-assets-tmtg.s3.ap-northeast-1.amazonaws.com/logo-moocsx.png">
        </div>
        <div class="program-description">
            <hr>
            <h1>
                ICT WORKFORCE DEVELOPMENT PROGRAM GUIDELINES
            </h1>
            <p>You are applying as one of the learners for the <strong>DICT ILCDB ICT Workforce Development</strong> led by the <strong>DICT</strong> with its solution providers <strong>MOOCSX</strong>, and <strong>Coursera</strong>. The DICT shall cover the training expenses for the duration of your access.</p>
            <br>
            <br>
            <p>
                If accepted, you are expected to perform, and be guided with the following:
                <ol>
                <li>Complete your selected learning track within the approved duration of your access, details of which will be provided upon invite.</li>
                <li>Devote the necessary amount of time and carry out the activities as stated in the plan of activities;</li>
                <li>Conduct oneself professionally and use the knowledge gained in this training in the interest of the public good;</li>
                <li>Acknowledge the support of the <strong>DICT</strong> in all reports and any publication arising from the training, a copy of which should be provided to <strong>DICT</strong>;</li>
                <li>Participate in the training monitoring and evaluation survey to be conducted by the organizers;</li>
                <li>You may be tapped as resource person for related activities of the <strong>DICT</strong> in the future in a one-time free of charge service.</li>
                <li><strong>DICT</strong> reserves the right to revoke your license access to <strong>Coursera</strong> should you be inactive without justifiable reason or voluntarily withdraw from the program in order to give your slot to other waitlisted participants.</li>
                </ol>
            </p>
        </div>
    </div>
</div>
{% endblock %}