{% extends 'base.html' %}
{% load static %}
{% load parse_iso %}
{% block content %}
{% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/courses.css' %}"/> {% endcomment %}
    <div class="mb-3 page-banner w-100">
        <h3 class="banner-title">PROGRAMS</h3>
    </div>

    <div class="bg-light w-100 min-100 p-5">
                <div class="partner-cards">
                    {% for program in program_list %}
                        {% comment %} {% if program.id not in applied_programs %}    {% endcomment %}
                            <a href="{% url 'program' program.slug %}">
                                <div class="partner-card-container">
                                    <div class="partner-card-image">
                                        {% if program.image %}
                                        <img class="img-item" src="{{program.image}}">
                                        {% else %}
                                        <img class="img-item" src="https://coursebank-static-assets-tmtg.s3.ap-northeast-1.amazonaws.com/spiral_ict_model-768x415.jpg">
                                        {% endif %} 
                                    </div>
                                    
                                    <div class="card-partner-logo">
                                        <img src="https://coursebank-static-assets-tmtg.s3.ap-northeast-1.amazonaws.com/DICT-Logo-nobg.png">
                                        <img src="https://coursebank-static-assets-tmtg.s3.ap-northeast-1.amazonaws.com/ILCDB+logo_2.png">
                                        <img src="https://coursebank-static-assets-tmtg.s3.ap-northeast-1.amazonaws.com/coursera-social-logo-brand.png">
                                        <img src="https://coursebank-static-assets-tmtg.s3.ap-northeast-1.amazonaws.com/logo-moocsx.png">
                                    </div>
                                    
                                    <div class="card-content">
                                        <div class="container-card-title pt-3">
                                            <h5 class="text-dark program-card-title">{{program.name}}</h5>
                                            <p class="card-title-content">
                                                {% if program.end_date %}
                                                    {{program.start_date|parse_iso|date:"M d"}} - {{program.end_date|parse_iso|date:"M d, Y"}}
                                                {% else %}
                                                    since {{program.start_date|parse_iso|date:"M d, Y"}}
                                                {% endif %}
                                                {% if program.registration_end %}
                                                    <br>Registration closes on <br>
                                                    {{program.registration_end}}
                                                {% else %}
                                                    <br>Registration is open
                                                {% endif %}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </a>  
                        {% comment %} {% endif %} {% endcomment %}
                    {% endfor %}
                </div>
        </div>
{% endblock %}
