{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="page-banner w-100">
    <h3 class="banner-title">PARTNERS</h3>
</div>
<div class="bg-light p-5 w-100" id="partners">
    <div class="pb-5">
        <div class="d-flex flex-column">
            {% for partner in partners %}
            <div class="bg-white w-100 px-3 py-3 mb-4">
                <a class="partner-link" href="{% url 'partner_slug' partner.slug %}">
                <div class="partner-wrapper d-flex flex-row align-items-center">
                    {% if partner.logo_1 %}
                        <img class="partner-logo" src="{{ partner.logo_1 }}" alt="{{ partner.name }} Logo" width="100px" height="100px">
                    {% else %}
                        <img class="partner-logo" src="https://via.placeholder.com/100" alt="Placeholder Logo" width="100px" height="100px">
                    {% endif %}
                    <div class="partner-item partner-item mx-3">
                        <p class="partner-title mb-1 mt-2">
                            {{ partner.name }}
                        </p>
                        <p class=" partner-description text-dark mb-1">
                            {{ partner.about|default:"No description available." }}
                        </p>
                    </div>
                </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
  </div>
{% endblock %}
