{% extends 'base.html' %}
{% load static %}
{% load parse_iso %}
{% block content %}

<div class="mb-5"></div>

<div class="bg-light py-5 w-100 px-3" id="partner-details">
    <div class="container">
        {% for partner in partner_details %}
            <div class="partner-info mb-5 d-flex">
                {% if partner.logo_1 %}
                <img class="partner-logo" src="{{ partner.logo_1 }}" alt="{{ partner.name }} Logo" width="150px" height="150px">
                {% else %}
                <img class="partner-logo" src="https://via.placeholder.com/150" alt="Placeholder Logo" width="150px" height="150px">
                {% endif %}
                <div class="partner-description-container mx-4">
                    <h4 class="mb-3">{{ partner.name }}</h4>
                    <p class="partner-description">{{ partner.about|default:"No description available." }}</p>

                    <!-- Edit button visible only to partners -->
                    {% if is_user_partner_admin %}
                    <div class="mt-4">
                        <a href="{% url 'partner_edit' partner.slug %}" class="btn btn-primary">Edit</a>
                    </div>
                    {% endif %}
                </div>
            </div>

            <!-- Partner's Programs Section -->

            <div class="bg-light p-5 w-100" id="partners">
                <div class="pb-5">
                    <h3 class="mb-4">Programs</h3>
                    <!-- Filter Buttons for Admin -->
                    {% if is_user_partner_admin %}
                        <div class="d-flex mb-4">
                            <a href="?filter=all" class="btn {% if filter_status == 'all' %}btn-primary{% else %}btn-secondary{% endif %}">All</a>
                            <a href="?filter=active" class="btn mx-2 {% if filter_status == 'active' %}btn-primary{% else %}btn-secondary{% endif %}">Active</a>
                            <a href="?filter=archived" class="btn {% if filter_status == 'archived' %}btn-primary{% else %}btn-secondary{% endif %}">Archived</a>
                        </div>
                    {% endif %}
                    <div class="d-flex flex-column">
                        {% for program in program_list %}
                        <div class="bg-white w-100 mb-4">
                            <a class="partner-link" href="{% url 'program_slug' partner.slug program.slug %}">
                            <div class="partner-program-wrapper">
                                <div class="partner-program-item d-flex flex-row">
                                    {% if program.image_1 %}
                                    <img class="img-item" height="100%" width="320px" src="{{ program.image_1 }}">
                                    {% else %}
                                    <img class="img-item" height="100%" width="320px" src="https://coursebank-static-assets-tmtg.s3.ap-northeast-1.amazonaws.com/mspiral_djph_model-768x417.jpg">
                                    {% endif %}
                                    <div class="d-flex flex-column p-4">
                                        <h5 class="partner-program-title text-dark mb-1">
                                            {{ program.name }}
                                        </h5>
                                        <p class=" partner-program-description text-dark mb-1">
                                            {{ program.description }}
                                        </p>
                                        <div class="d-flex align-items-center pb-3">
                                            {% if program.partner_logo_1 %}
                                                <img width="50px" src="{{ program.partner_logo_1 }}">
                                            {% endif %}
    
                                            {% if program.partner_logo_2 %}
                                                <img width="50px" src="{{ program.partner_logo_2 }}">
                                            {% endif %}
    
                                            {% if program.partner_logo_3 %}
                                                <img width="50px" src="{{ program.partner_logo_3 }}">
                                            {% endif %}
    
                                            {% if program.partner_logo_4 %}
                                                <img width="50px" src="{{ program.partner_logo_4 }}">
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </a>
                        </div>
                        {% endfor %}
                        {% if is_user_partner_admin %}
                        <div class="bg-white w-100 mb-4">
                            <a class="add-link" href="{% url 'add_program' partner.slug %}">
                            <div class="partner-program-wrapper">
                                <div class="partner-program-item d-flex flex-row align-items-center justify-content-center">
                                    <h2 style="margin: 15px !important;">+</h2>
                                </div>
                            </div>
                            </a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
