footer{
  height: 350px;
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}
.footer-links, .footer-links li a{
  list-style: none;
  color: #FFF;
  text-decoration: none;
}
.container{
  margin: 0 20px;
  max-width: 1400px;
}