footer{
  background-color: rgb(48, 48, 48);
  height: 350px;
}
.footer-links, .footer-links li a{
  list-style: none;
  color: #FFF;
  text-decoration: none;
}
.container{
  margin: 0 20px;
  max-width: 1400px;
}