//HEADER
.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 0.4rem 10%;
    display: flex;
    align-items: center;
    z-index: 1000;
  }
  .header .logo {
    margin-right: auto;
    font-size: 30px;
    color: #F15A25;
  }
  .header img{
    width: 80px;
  }
  .header .navbar {
    position: relative;
  }
  
  .header .navbar .nav-bar-link {
    margin-right: 2rem;
    font-size: 1rem;
    text-transform: capitalize;
    color: #000;
    text-decoration: none;
    padding: 1.5rem;
    text-transform: uppercase;
  }
  .header .navbar .nav-bar-link:hover {
    color: #F15A25;
  }
  // .header .icons div {
  //   cursor: pointer;
  //   font-size: 2rem;
  //   color: #000;
  //   margin-left: 1.5rem;
  // }
  // .header .icons div:hover {
  //   color: #F15A25;
  // }
  .header .icons a.btn{
    width: 150px !important;
    height: 49px !important;
    border: none !important;
    outline: none !important;
    border-radius: 50px !important;
    cursor: pointer;
    background-color: #f15a25 !important;
    color: #fff !important;
    border: solid 2px #F15A25 !important;
    text-transform: uppercase !important;
    font-weight: 500 !important;
    margin: 10px 0 !important;
    transition: 0.5s !important;
    line-height: 2;
}
.header .icons a.btn:hover{
  background-color: #fff !important;
  color: #f15a25 !important;
  //border: solid 2px black;
}

  //Sub menu

  .sub-menu{
    position: absolute;
    top: 120px;
    right: 85px;
    padding: 10px 20px;
    background: #fff;
    width: fit-content;
    box-sizing: 0 5px 25px rgba(0,0,0,0.1);
    border-radius: 15px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
}
.sub-menu.active{
    top: 120px;
    visibility: visible;
    opacity: 1;
}
.sub-menu::before{
    content: '';
    position: absolute;
    top: -5px;
    right: 50px;
    width: 20px;
    height: 20px;
    background: #fff;
    transform: rotate(45deg);
}
.sub-menu ul li h3{
    text-transform: capitalize;
    width: 100%;
    text-align: center;
    font-size: 15px;
    padding: 5px 0;
    color: #f15a25;
    line-height: 1.2em;
}
.sub-menu ul{
    padding: 0 !important;
    margin: 0 !important;
}
.sub-menu ul li, .sub-menu ul a{
    list-style: none;
    text-transform: uppercase;
    padding: 10px 0;
    border-top: 1px solid rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-self: center;
}
.sub-menu ul a{
    display: inline-block;
    text-decoration: none;
    color: #333;
}
.sub-menu ul a:hover li{
    color: #f15a25;
}