//HEADER
.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 0.4rem 10%;
    display: flex;
    align-items: center;
    z-index: 1000;
  }
  .header .logo {
    margin-right: auto;
    font-size: 30px;
    color: #F15A25;
  }
  .header img{
    width: 80px;
  }
  .header .navbar {
    position: relative;
  }
//   .header .navbar #close-navbar {
//     position: absolute;
//     top: 1.5rem;
//     right: 2rem;
//     font-size: 4rem;
//     cursor: pointer;
//     color: #444;
//     display: none;
//   }
//   .header .navbar #close-navbar:hover {
//     transform: rotate(90deg);
//   }
  .header .navbar a {
    margin-right: 2rem;
    font-size: 1rem;
    text-transform: capitalize;
    color: #000;
    text-decoration: none;
    padding: 1.5rem;
    text-transform: uppercase;
  }
  .header .navbar a:hover {
    color: #F15A25;
    width: 80px;
    height: 2000px;
  }
  .header .icons div {
    cursor: pointer;
    font-size: 2rem;
    color: #000;
    margin-left: 1.5rem;
  }
  .header .icons div:hover {
    color: #F15A25;
  }
  .header #menu-btn {
    display: none;
  }

  //Sub menu

  .sub-menu-wrapper{
    position: absolute;
    top: 100%;
    right: 10%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
  }
  .sub-menu-wrapper.open-menu{
    max-height: 400px;
  }
  .sub-menu{
    background-color: #fff;
    padding: 20px;
    margin: 10px;
  }
  .sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
  }
  .sub-menu-link p{
    width: 100%;
  }
  .sub-menu-link span{
    font-size: 22px;
  }
  .sub-menu-link:hover span{
    transform: translateX(5px);
  }
  .sub-menu-link:hover p{
    font-weight: 600;
  }