/* media queries - mobile */
@media screen and (max-width: 768px) {
    .hero-banner {
      background: linear-gradient(90deg, rgb(255, 115, 0) 0%, rgb(255, 255, 255) 50%, rgb(255, 115, 0) 100%);
      height: calc(100vh - 90px);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center right;
    }
    .custom-res {
      padding: 0 10% !important;
    }
    .custom-res h2 {
      font-size: 24px;
    }
    .custom-res p {
      font-size: 12px;
    }
    .custom-res-sub {
      display: grid !important;
      grid-template-columns: 163px 194px;
      grid-template-rows: 180px 190px;
      justify-content: center;
      justify-items: center;
    }
    .col.custom-res-sub-2 {
      flex: 0 0 auto !important;
      width: 75% !important;
    }
    .custom-res-sub h1 {
      font-size: 20px;
    }
    .custom-res-sub h3 {
      font-size: 15px;
    }
    .custom-res-sub p {
      font-size: 12px;
    }
    form#signup {
      outline: 0;
      width: 345px;
      height: 255px;
      border-radius: 0px;
      padding: 0 !important;
    }
    label.body-2-text.color-primary-text.form-label {
      text-align: left !important;
    }
    .css-ek3fxo {
      display: flex;
      justify-content: center;
    }
    .res-title {
      font-size: 18px !important;
    }
    .res-title {
      font-size: 16px !important;
    }
    .ml-2 {
      margin-left: 15px;
    }
    .profile-container {
      padding: 2.5rem;
    }
    .fa-bars {
      font-size: 24px;
    }
  }
  /* mobile - Medium & Large */
  @media screen and (max-width: 425px) {
    .col.section-image {
      display: none !important;
    }
    .form-submit {
      width: 200px !important;
    }
    .mobile-bg {
      background: linear-gradient(90deg, rgb(241, 90, 37) 0%, rgba(37, 188, 241, 0.5004595588) 100%), url(../images/signup-panel.jpg);
      height: calc(100vh - 90px);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center right;
    }
    .signup-panel {
      display: none !important;
    }
    #signup {
      outline: 0 !important;
      width: 333px !important;
      height: 250px !important;
      border-radius: 0 !important;
    }
    .mform-text {
      color: #fff;
    }
    .form-control-custom {
      width: 312px;
    }
    .content-container {
      margin: 10px 4% !important;
    }
    .mob-p {
      font-size: 14px;
    }
    td.mob-p {
      font-size: 11px !important;
    }
  }
  @media screen and (max-width: 375px) {
    .form-control-custom {
      width: 264px;
    }
    .profile-container {
      padding: 1.5rem;
    }
    .fa-bars {
      font-size: 20px;
    }
  }
  /* mobile - Small */
  @media screen and (max-width: 320px) {
    .about {
      height: 685px !important;
    }
    .col.section-image {
      display: none !important;
    }
    .custom-res-sub {
      display: table-column !important;
      justify-items: center;
    }
    .form-submit {
      width: 150px !important;
    }
    form .input-field input {
      width: 250px !important;
    }
    form button {
      width: 250px !important;
    }
    #signup {
      outline: 0 !important;
      width: 320px !important;
      height: 250px !important;
      border-radius: 0 !important;
    }
    .form-control-custom {
      width: 212px;
    }
    .content-container {
      margin: 10px 2% !important;
    }
    .profile-container {
      padding: 1rem;
    }
}