{% extends 'base.html' %}
{% load static %}
{% load parse_iso %}
{% block content %}

<div class="bg-light py-5 w-100 px-3" id="program-details">
    <div class="container">
        <h5 class="mb-4">Basic</h5>
        {% for program in program_details %}
        <div class="program-info mb-5 d-flex">
            {% if program.logo %}
            <img class="program-logo" src="{{ program.logo }}" alt="{{ program.name }} Logo">
            {% else %}
            <img class="program-logo" src="https://via.placeholder.com/150" alt="Placeholder Logo" width="150px" height="150px">
            {% endif %}

            <div class="program-description-container mx-4">
                <h4>{{ program.name }}</h4>
                <p class="program-description">{{ program.about|safe|default:"No description available." }}</p>

                <!-- Edit button visible only to partners -->
                {% if is_user_partner %}
                <div class="mt-4">
                    <a href="{% url 'program_edit' partner_slug program.slug %}" class="btn btn-primary">Edit</a>
                </div>
                {% endif %}
                {% comment %} {% if is_user_partner %}
                <div class="mt-4">
                    <a href="{% url 'program_edit' partner_slug program.slug %}" class="btn btn-primary">Edit</a>
                </div>
                <div class="mt-3">
                    <a href="{% url 'application' partner_slug program.slug %}" class="btn btn-secondary">Applications</a>
                </div>
                <div class="mt-3">
                    <form method="POST" action="">
                        {% csrf_token %}
                        <button type="submit" name="generate_csv" class="btn btn-info">Generate CSV for Cast LMS</button>
                    </form>
                </div>
                {% endif %} {% endcomment %}
            </div>
        </div>
            {% if is_user_partner %}
                <h5 class="mb-4">Applications</h5>
                <div class="mb-4">
                    <p>View Applications for this Program</p>
                        <div class="mt-3">
                            <a href="{% url 'application' partner_slug program.slug %}" class="btn btn-primary">View Applications</a>
                        </div>
                </div>
                <h5 class="mb-4">Certificate</h5>
                <div class="mb-4">
                    {% comment %} to be replace w/ condition{% endcomment %}
                    <p>View/Edit certificate for this Program</p>
                        <div class="mt-3">
                            <a href="#" class="btn btn-primary">Add a Certificate</a>
                        </div>
                </div>
                <h5 class="mb-4">Export Data</h5>
                <div class="mb-4">
                    <p>Generate CSV for Cast LMS</p>
                        <div class="mt-3">
                            <form method="POST" action="">
                                {% csrf_token %}
                                <button type="submit" name="generate_csv" class="btn btn-primary">Generate CSV for Cast LMS</button>
                            </form>
                        </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}


