{% extends 'base.html' %}
{% comment %} {% load parse_iso %} {% endcomment %}
{% block content %}
<div class="container my-5">
    <h2 class="mb-4">Edit {{ program.name }}</h2>
    
    <form action="" method="POST" enctype="multipart/form-data" class="px-5">
        {% csrf_token %}
        <!-- Program Name -->
        <div class="mb-3">
            <label for="programImage" class="form-label">Program Image</label>
            <input type="text" class="form-control" id="programName" value="{{ program.image_1 }}" name="program_image_1">
        </div>
        
        <!-- Program Name -->
        <div class="mb-3">
            <label for="programName" class="form-label">Program Name</label>
            <input type="text" class="form-control" id="programName" value="{{ program.name }}" name="program_name" required>
        </div>

        <!-- Program Description -->
        <div class="mb-3">
            <label for="programDescription" class="form-label">Program Description</label>
            <textarea class="form-control" id="programDescription" name="program_description" rows="4">{{ program.description }}</textarea>
        </div>

        <!-- Program Slug -->
        <div class="mb-3">
            <label for="programSlug" class="form-label">Program Slug</label>
            <input type="text" class="form-control" id="programSlug" value="{{ program.slug }}" name="program_slug" required>
        </div>

        <!-- Program About -->
        <div class="mb-3">
            <label for="programAbout" class="form-label">Program About</label>
            <textarea class="form-control" id="programAbout" name="program_about" rows="4">{{ program.about }}</textarea>
        </div>

         <!-- Program Start Date -->
        <div class="mb-3">
            <label for="programStartDate" class="form-label">Start Date</label>
            <input type="date" class="form-control" id="programStartDate" value="{{ program.start_date }}" name="program_start_date">
        </div>

        <!-- Program Registration End Date -->
        <div class="mb-3">
            <label for="registrationEnd" class="form-label">Registration End Date</label>
            <input type="date" class="form-control" id="registrationEnd" value="{{ program.registration_end }}" name="registration_end">
        </div>

        <!-- Program End Date -->
        <div class="mb-3">
            <label for="programEndDate" class="form-label">End Date</label>
            <input type="date" class="form-control" id="programEndDate" value="{{ program.end_date }}" name="program_end_date">
        </div>

        <!-- Program Badge -->
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="badgeCheck" name="badge" {% if program.badge %}checked{% endif %}>
            <label class="form-check-label" for="badgeCheck">Badge Available</label>
        </div>

        <!-- Program Certificate -->
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="certificateCheck" name="certificate" {% if program.certificate %}checked{% endif %}>
            <label class="form-check-label" for="certificateCheck">Certificate Available</label>
        </div>
        
        <br>
        <h5 class="mb-4">Partners</h5>
        <div class="mb-4 d-flex flex-column">
            {% comment %} to be replace w/ condition{% endcomment %}
            <p>Add Program Partner Logos</p>
            <div class="mt-3 d-flex flex-column">
                <div class="mb-3">
                    {% if program.partner_logo_1 %}
                    <img src="{{ program.partner_logo_1 }}" alt="" width="50px" height="50px">
                    <input type="text" class="mx-3" id="partnerLogo_1" name="partner_logo_1" value="{{ program.partner_logo_1 }}">
                    {% else %}
                    <img class="program-logo" src="https://via.placeholder.com/150" alt="Placeholder Logo" width="50px" height="50px">
                    <input type="text" class="mx-3" id="partnerLogo_1" name="partner_logo_1">
                    {% endif %}
                </div>
                <div class="mb-3">
                    {% if program.partner_logo_2 %}
                    <img src="{{ program.partner_logo_2 }}" alt="" width="50px" height="50px">
                    <input type="text" class="mx-3" id="partnerLogo_2" name="partner_logo_2" value="{{ program.partner_logo_2 }}">
                    {% else %}
                    <img class="program-logo" src="https://via.placeholder.com/150" alt="Placeholder Logo" width="50px" height="50px">
                    <input type="text" class="mx-3" id="partnerLogo_2" name="partner_logo_2">
                    {% endif %}
                </div>
                <div class="mb-3">
                    {% if program.partner_logo_3 %}
                    <img src="{{ program.partner_logo_3 }}" alt="" width="50px" height="50px">
                    <input type="text" class="mx-3" id="partnerLogo_3" name="partner_logo_3" value="{{ program.partner_logo_3 }}">
                    {% else %}
                    <img class="program-logo" src="https://via.placeholder.com/150" alt="Placeholder Logo" width="50px" height="50px">
                    <input type="text" class="mx-3" id="partnerLogo_3" name="partner_logo_3">
                    {% endif %}
                </div>
                <div class="mb-3">
                    {% if program.partner_logo_4 %}
                    <img src="{{ program.partner_logo_4 }}" alt="" width="50px" height="50px">
                    <input type="text" class="mx-3" id="partnerLogo_4" name="partner_logo_4" value="{{ program.partner_logo_4 }}">
                    {% else %}
                    <img class="program-logo" src="https://via.placeholder.com/150" alt="Placeholder Logo" width="50px" height="50px">
                    <input type="text" class="mx-3" id="partnerLogo_4" name="partner_logo_4">
                    {% endif %}
                </div>
            </div>
                {% comment %} <form action="" method="POST">
                    {% csrf_token %}
                    <div class="mt-3 d-flex flex-row align-items-center">
                        <div>
                            {% if program.partner_logo_1 %}
                            <img src="{{ program.partner_logo_1 }}" alt="" width="50px" height="50px">
                            {% else %}
                            <img class="program-logo" src="https://via.placeholder.com/150" alt="Placeholder Logo" width="50px" height="50px">
                            {% endif %}
                        </div>
                        <div>
                        {% if program.partner_logo_1 %}
                            <input type="text" class="mx-3" id="partnerLogo_1" name="partner_logo_1" value="{{ program.partner_logo_1 }}">
                            {% else %}
                            <input type="text" class="mx-3" id="partnerLogo_1" name="partner_logo_1">
                        {% endif %}
                        </div>
                        <div>
                        <button type="submit" class="btn btn-primary" style="width: auto !important;">Upload</button>
                        </div>
                    </div>
                </form>
                
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="mt-3 d-flex flex-row align-items-center">
                        <div>
                            {% if program.partner_logo_2 %}
                            <img src="{{ program.partner_logo_2 }}" alt="" width="50px" height="50px">
                            {% else %}
                            <img class="program-logo" src="https://via.placeholder.com/150" alt="Placeholder Logo" width="50px" height="50px">
                            {% endif %}
                        </div>
                        <div>
                        {% if program.partner_logo_2 %}
                            <input type="text" class="mx-3" id="partnerLogo_2" name="partner_logo_2" value="{{ program.partner_logo_2 }}">
                            {% else %}
                            <input type="text" class="mx-3" id="partnerLogo_2" name="partner_logo_2">
                        {% endif %}
                        </div>
                        <div>
                        <button type="submit" class="btn btn-primary" style="width: auto !important;">Upload</button>
                        </div>
                    </div>
                </form>

                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="mt-3 d-flex flex-row align-items-center">
                        <div>
                            {% if program.partner_logo_3 %}
                            <img src="{{ program.partner_logo_3 }}" alt="" width="50px" height="50px">
                            {% else %}
                            <img class="program-logo" src="https://via.placeholder.com/150" alt="Placeholder Logo" width="50px" height="50px">
                            {% endif %}
                        </div>
                        <div>
                        {% if program.partner_logo_3 %}
                            <input type="text" class="mx-3" id="partnerLogo_3" name="partner_logo_3" value="{{ program.partner_logo_3 }}">
                            {% else %}
                            <input type="text" class="mx-3" id="partnerLogo_3" name="partner_logo_3">
                        {% endif %}
                        </div>
                        <div>
                        <button type="submit" class="btn btn-primary" style="width: auto !important;">Upload</button>
                        </div>
                    </div>
                </form>

                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="mt-3 d-flex flex-row align-items-center">
                        <div>
                            {% if program.partner_logo_4 %}
                            <img src="{{ program.partner_logo_4 }}" alt="" width="50px" height="50px">
                            {% else %}
                            <img class="program-logo" src="https://via.placeholder.com/150" alt="Placeholder Logo" width="50px" height="50px">
                            {% endif %}
                        </div>
                        <div>
                        {% if program.partner_logo_4 %}
                            <input type="text" class="mx-3" id="partnerLogo_4" name="partner_logo_4" value="{{ program.partner_logo_4 }}">
                            {% else %}
                            <input type="text" class="mx-3" id="partnerLogo_4" name="partner_logo_4">
                        {% endif %}
                        </div>
                        <div>
                        <button type="submit" class="btn btn-primary" style="width: auto !important;">Upload</button>
                        </div>
                    </div>
                </form> {% endcomment %}
        </div>
        <!-- Submit Button -->
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary mx-3">Save Changes</button>
            
            <!-- Cancel Button -->
            <a href="{% url 'program_slug' partner.slug program.slug %}" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}
