{% extends 'base.html' %}
{% load static %}
{% load parse_iso %}
{% block content %}

<div class="mb-5"></div>

<div class="bg-light py-5" id="program-details">
    <div class="container">
        {% for program in program_details %}
        <div class="program-info mb-5 text-center">
            <h4>{{ program.name }}</h4>
            {% if program.logo %}
            <img class="program-logo" src="{{ program.logo }}" alt="{{ program.name }} Logo">
            {% else %}
            <img class="program-logo" src="https://via.placeholder.com/150" alt="Placeholder Logo">
            {% endif %}
            <p class="program-description">{{ program.about|default:"No description available." }}</p>

            <!-- Edit button visible only to partners -->
            {% if is_user_partner %}
            <div class="text-center mt-4">
                <a href="{% url 'program_edit' partner_slug program.slug %}" class="btn btn-primary">Edit</a>
            </div>
            {% endif %}

            <!-- Applications button -->
            <div class="text-center mt-4">
                <a href="{% url 'application' partner_slug program.slug %}" class="btn btn-secondary">Applications</a>
            </div>

        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}


