{% extends 'authentication/login_base.html' %}
{% load static %}
{% block 'title' %}upskillPH | Login{% endblock %}
{% block content %}

<div class="wrapper">
    <form method="post" action="">
        {% csrf_token %}
        <h1>Login</h1>
        <div class="input-box">
            <input type="text" id="email" placeholder="Username or Email" required>
        </div>
        <div class="input-box">
            <input id="password" type="password" placeholder="Password" required>
        </div>
        <div class="error" style="display: none;">
            <p>{{ response_message }}</p>
        </div>
        <button type="submit" class="btn" id="loginButton">Login</button>
        <div class="register-link">
            <p>Don't have an account? <a href="/signup">Signup</a>
            </p>
        </div>
    </form>
</div>

{% endblock %}