{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="mx-0 d-flex flex-column justify-content-center" style="height: calc(100vh - 90px);">
    <div class="row gx-5 h-100">

        <div class="col-12 col-md-6 d-flex flex-column justify-content-center signup-panel" style="background: linear-gradient(90deg, rgba(241,90,37,1) 0%, rgba(37,188,241,0.5004595588235294) 100%),url({% static 'images/signup-panel.jpg' %});height: calc(100vh - 90px);background-size: cover;background-repeat: no-repeat;background-position: center right;">
            <img src="{% static 'images/logo.png' %}" alt="">
        </div>

        <div class="col-12 col-md-6 d-flex flex-column justify-content-center">
            <form method="post" action="" class="sign-up-form px-5" id="signup">
                {% csrf_token %}
                <h1 class="title pb-5">Create an Account</h1>
                
                <div class="input-field pb-3">
                    <i class="fas fa-address-card"></i>
                    <input type="text" id="firstname" name="firstname" placeholder="First Name" required class="px-2">
                </div>

                <div class="input-field pb-3">
                    <i class="fas fa-address-card"></i>
                    <input type="text" id="lastname" name="lastname" placeholder="Last Name" required class="px-2">
                </div>

                <div class="input-field pb-3">
                    <i class="fas fa-user"></i>
                    <input type="text" id="username" name="username" placeholder="Username" required class="px-2">
                </div>
                
                <div class="input-field pb-5">
                    <i class="fas fa-envelope"></i>
                    <input type="text" id="email"  name="email" placeholder="Email" required class="px-2">
                </div>

                    <button type="submit" class="btn solid">Sign Up</button>
            </form>

            <div class="content pt-5">
                <h4 class="fw-semibold">Have an account? <a class="schol-link" href="/signin">Login</a></h4>
            </div>

        </div>
        
        

    </div>
</div>

{% endblock %}