{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container-signup">
    <div class="forms-container">
        <div class="signup-signin">
            <form method="post" action="" class="sign-up-form" id="signup">
                {% csrf_token %}
                <h2 class="title">Create an Account</h2>
                <br>
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input type="text" id="username" name="username" placeholder="username" required>
                </div>
                
                <div class="input-field">
                    <i class="fas fa-address-card"></i>
                    <input type="text" id="firstname" name="firstname" placeholder="first name" required>
                </div>
                
                <div class="input-field">
                    <i class="fas fa-address-card"></i>
                    <input type="text" id="lastname" name="lastname" placeholder="last name" required>
                </div>
                
                <div class="input-field">
                    <i class="fas fa-envelope"></i>
                    <input type="text" id="email"  name="email" placeholder="email" required>
                </div>

                    <button type="submit" class="btn solid" data-bs-toggle="modal" data-bs-target="#SignupModal">sign up</button>
            </form>
        </div>
    </div>
</div>

<div class="panels-container">
    <div class="panel left-panel">
        <div class="content">
            <h3>Already have an account?</h3>
            <p></p>
            <a class="btn-transparent" href="/signin">Sign in</a>
        </div>
        <img src="{% static 'images/signup.svg'%}" class="image" alt=""/>
    </div>
</div>

<!-- Modal -->
{% if message == "success" %}
<div class="modal fade" id="SignupModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="SignupModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="SignupModalLabel">Success! 🎉</h1>
            </div>
            <div class="modal-body">
                <img src="{% static 'images/success.svg'%}" class="modal-image">
                <p>You have successfully created your <span class="schol-heading" style="color: #F15A25; text-transform: uppercase; font-weight: 500px;">Scholarium</span> account!
                <br>kindly check your inbox in your email: {{ myuser.email }} for verification. Thank You!
                <br> <em>  Note: also check on your SPAM folder </em> 
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% else %}
<div class="modal fade" id="SignupModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="SignupModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="SignupModalLabel">Error! ⚠️</h1>
            </div>
            <div class="modal-body">
                <img src="https://scholarium-static.s3.ap-southeast-1.amazonaws.com/undraw_feeling_blue_-4-b7q.svg" class="modal-image">
                <p>
                    to be replaced by error message
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}
