{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container-signup">
    <div class="forms-container">
        <div class="signup-signin">
            <form method="post" action="" class="sign-up-form" id="signup">
                {% csrf_token %}
                <h2 class="title">Create an Account</h2>
                <br>
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input type="text" id="username" name="username" placeholder="username" required>
                </div>

                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input type="password" id="password" name="password" placeholder="password" required>
                </div>
                
                <div class="input-field">
                    <i class="fas fa-address-card"></i>
                    <input type="text" id="firstname" name="firstname" placeholder="first name" required>
                </div>
                
                <div class="input-field">
                    <i class="fas fa-address-card"></i>
                    <input type="text" id="lastname" name="lastname" placeholder="last name" required>
                </div>
                
                <div class="input-field">
                    <i class="fas fa-envelope"></i>
                    <input type="text" id="email"  name="email" placeholder="email" required>
                </div>

                    <button type="submit" id="btn-solid" data-bs-toggle="modal" data-bs-target="#SuccessModal" >sign up</button>
            </form>
            {% for message in messages %}
                {% if messages.tags == 'success' %}
                <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+30JU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
                <script>
                    $document.ready(function(){
                    $("#SuccessModal").modal('show');
                    });
                </script>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

<div class="panels-container">
    <div class="panel left-panel">
        <div class="content">
            <h3>already have an account?</h3>
            <p></p>
            <a class="btn-transparent" href="/signin">Sign in</a>
        </div>
        <img src="{% static 'images/signup.svg'%}" class="image" alt=""/>
    </div>
</div>

<!--MODAL START-->
<div class="modal" tabindex="-1" id="SuccessModal" aria-hidden ="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Success 🎉</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <center>
                <img src="{% static 'images/success.svg'%}">
                <h5>You have successfully created your <h5 class="schol-heading" style="color: #F15A25; text-transfom: uppercase; font-weight: 500px;">Scholarium</h5>account!
                <br>kindly check your inbox in your email: {{ myuser.email }} for verification. Thank You!
                <br> <em>  Note: also check on your SPAM folder </em> 
                </h5>
                </center>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<!--MODAL END-->

{% endblock %}
