{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container-signin">
    <div class="forms-container">
        <div class="signin-signup">
            <form action="" class="sign-in-form" id="signin" method="POST">
                <h2 class="title">Sign in</h2>
    {% csrf_token %}
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input type="text" name="username" placeholder="username">
                </div>

                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input type="password" name="password" placeholder="password" minlength="8" required>
                </div>

                    <button type="submit" id="btn-solid">sign in</button>
            </form>
        </div>
    </div>
</div>

<div class="panels-container">
    <div class="panel right-panel">
        <div class="content">
            <h3>don't have an account?</h3>
            <p></p>
            <a class="btn-transparent" href="/signup">Sign up</a>
        </div>
        <img src="{% static 'images/signin.svg'%}" class="image" alt=""/>
    </div>
</div>
{% endblock %}