{% autoescape off %}

<h1>
    VERIFICATION SUCCESS!
</h1>
<p style="color: rgba(0,0,0,.75);">
    {% filter force_escape %}
        Your account has been verified.
    {% endfilter %}
    <br />
</p>

<!-- Button to redirect to the main domain -->
{% if original_url %}
    
    <a href="{{ domain }}{{ original_url }}" class="btn btn-primary">http://{{domain}}{{original_url}}</a>
{% else %}
    <a href="{{ accounts_domain }}{% url "signin" %}" class="btn btn-primary">Click Here to Go Back to Homepage</a>
{% endif %}
                

{% endautoescape %}
