{% extends 'base.html' %}
{% load static %}
{% load parse_iso %}
{% block content %}
<div class="program-grid-container">
    <div class="program-grid-left">
        <a href="#back" style="font-size: 15px; color:black; text-decoration: none"><i class="fa fa-angle-left"></i>Back</a>
    </div>
    <div class="program-grid-right">
        <div class="account-settings">
            <h3>Account Settings</h3>
            <div class="passwords-container">
                    <form action="" method="POST" class="passwords">
                        <p>
                            {{request.session.first_name|title}} {{request.session.last_name|title}}<br>
                            {{request.session.email}}<br>
                            date joined: {{ user_date_joined|parse_iso|date:"F d, Y" }} <br>
                        </p>
                        <label for="current-pass">Current Password </label> 
                        <input type="password" name="current-pass"> <br>
                    
                        <label for="new-pass">New Password </label> 
                        <input type="password" name="new-pass"> <br>
                    
                        <label for="confirm-pass">Confirm Password </label> 
                        <input type="password" name="confirm-pass"> <br>
                        {% csrf_token %}
                        <input type="submit" value="Update Password">
                    </form>
            </div>
        </div>
    </div>
</div>
{% comment %} MODAL {% endcomment %}
<div class="overlay" tabindex="-1" id="back">
    <div class="overlay-content">
      <div class="overlay-header">
        <h5 class="overlay-title">Quit editing?</h5>
      </div>
      <div class="overlay-body"> 
          <p>
              Are you sure you want to go back and cancel editing your profile? <br>
              Changes you made so far will NOT be saved.
          </p>
      </div>
      <div class="overlay-buttons">
        <center>
        <a href="{% url 'profile' %}" class="btn">Yes(Cancel)</a>
        <a href="#" class="btn">No(Continue editing)</a>
        </center>
      </div>
  </div>
</div>

{% endblock %}
