{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="account-settings">
    <h3>Account Settings</h3>
    <div class="passwords-container">
            <form method="" class="passwords">
                <p>
                    First Name Last Name <br>
                    email <br>
                    date joined: <br>
                </p>
                <label for="current-pass">Current Password </label> 
                <input type="password" name="current-pass"> <br>
            
                <label for="new-pass">New Password </label> 
                <input type="password" name="new-pass"> <br>
            
                <label for="confirm-pass">Confirm Password </label> 
                <input type="password" name="confirm-pass"> <br>
        
                <input type="submit" value="Update Password">
            </form>
    </div>
</div>

{% endblock %}
