{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="program-grid-container">
    <div class="program-grid-left">
        <a href="#back" style="font-size: 15px; color:black; text-decoration: none"><i class="fa fa-angle-left"></i>Back</a>
        {% comment %} <br>
        <br>
        <a href="#profile-data"><i class="fa fa-angle-left"></i>Profile</a>
        <br>
        <a href="#educ-data"><i class="fa fa-angle-left"></i>Education & Work</a>
        <br>
        <a href="#about-data"><i class="fa fa-angle-left"></i>About Yourself</a>
        <br>
        <a href="#address-data"><i class="fa fa-angle-left"></i>Address</a>
        <br>
        <a href="#social-data"><i class="fa fa-angle-left"></i>Socials</a>
        <br>
        <a href="#personal-data"><i class="fa fa-angle-left"></i>Personal Details</a> {% endcomment %}
    </div>
    <div class="program-grid-right">
        <h2>Edit my profile</h2>
        <form action="" class="edit-update-profile" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
                
                <h3 class="profile-label">Profile Data</h3>
                <div class="profile-container" id="profile-data">
                    <div class="profile-data">
                        <label for="name"> Full name: </label>
                        <input type="text" name="first_name" placeholder="First Name" value="{{profile.first_name|title}}">
                        <input type="text" name="last_name" placeholder="Last Name" value="{{profile.last_name|title}}">
                    </div>
            
                    <div class="profile-data">
                        <p>
                        <label for="profile_pic">Upload/ Update your Profile Picture: </label>
                        <input type="file" id="profile_pic" name="profile_pic" accept="image/*">
                        </p>
                        <input type="button" value="UPLOAD">
                    </div>
                </div>

                <h3>Education and Work Experience</h3>
                <div class="educ-container" id="educ-data">
                    <div class="educ-item">
                        <label for="employ_status">Employment Status: </label>
                        
                        <select name="employ_status" id="empstatus">
                            {% if employment.employ_status %}
                                <option value="" selected disabled hidden>{{employment.employ_status}}</option>
                            {% endif %}
                            {% for employment_status in employment_status_choices %}
                                <option value="{{employment_status}}">{{employment_status}}</option>
                            {% endfor %}
                        </select>
                    </div>
                
                    <div class="educ-item">
                        <label for="industry">Industry: </label>
                        <select name="industry" id="industry">
                            {% if employment.industry %}
                                <option value="" selected disabled hidden>{{employment.industry}}</option>
                            {% endif %}
                            {% for industry in industry_choices %}
                                <option value="{{industry}}">{{industry}}</option>
                            {% endfor %}
                        </select>
                    </div>
                
                    <div class="educ-item">
                        <label for="employer">Employer: </label>
                        <input type="text" placeholder="Employer" name="employer" value="{{employment.employer}}">
                    </div>
                
                    <div class="educ-item">
                        <label for="occupation">Occupation: </label>
                        <input type="text" placeholder="Occupation" name="occupation" value="{{employment.occupation}}">
                    </div>
                
                    <div class="educ-item">
                        <label for="exp_level">Experience Level: </label>
                        <select name="exp_level" id="experience">
                            {% if employment.experience %}
                                <option value="" selected disabled hidden>{{employment.experience}}</option>
                            {% endif %}
                            {% for experience in experience_choices %}
                                <option value="{{experience}}" >{{experience}}</option>
                            {% endfor %}
                        </select>
                        </div>
                
                    <div class="educ-item">
                        <label for="degree">Degree: </label>
                        <select name="degree" id="degree">
                            {% if education.degree %}
                                <option value="" selected disabled hidden>{{education.degree}}</option>
                            {% endif %}
                            {% for degree in degree_choices %}
                                <option value="{{degree}}">{{degree}}</option>
                            {% endfor %}
                        </select>
                    </div>
            
                    <div class="educ-item">
                        <label for="university">University: </label>
                        <input type="text" name = "university" placeholder="University" value="{{education.school}}">
                    </div>
            
                    <div class="educ-item">
                        <label for="study">Field of Study: </label>
                        <select name="study" id="field">
                            {% if education.study %}
                                <option value="" selected disabled hidden>{{education.study}}</option>
                            {% endif %}
                            {% for field_of_study in field_of_study_choices %}
                                <option value="{{field_of_study}}">{{field_of_study}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                
                <h3>About</h3>
                <div class="about-container" id="about-data">
                
                    <div class="about">
                        <label for="bio">About Me: </label>
                        <textarea name="bio" id="bio" cols="30" rows="3">{{profile.about}}</textarea>
                    </div>
                
                <!--  COUNTRY SELECTION START  -->
                
                    <div class="about" id="address-data">
                        <label for="country">Country: </label>
                        <select name="country" id="country">
                            {% if profile.country %}
                                <option value="" selected disabled hidden>{{profile.country}}</option>
                            {% endif %}
                            {% for country in country_choices %}
                                <option value="{{country}}">{{country}}</option>
                            {% endfor %}
                        </select>
                    </div>
                
                    <div class="about">
                        <label for="region">Region: </label>
                        <select id="region" name="region">
                            {% if profile.region %}
                                {% for region_key, region_value in region_choices.items %}
                                    {% if profile.region == region_key %}
                                        <option value="{{profile.region}}" selected disabled hidden>{{region_value}}</option>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            {% for region_key, region_value in region_choices.items %}
                                <option value="{{region_key}}">{{region_value}}</option>
                            {% endfor %}
                        </select>
                    </div>
            
                    <div class="about">
                        <label for="municipality">Municipality: </label>
                        <select id="municipality" name="municipality">
                        {% if profile.municipality %}
                        <option value="" selected disabled hidden>{{profile.municipality}}</option>
                        {% endif %}
                        {% for municipality_key, municipality_value in municipality_choices.items %}
                            {% for municipality in municipality_value %}
                                <option value="{{municipality}}" parent={{municipality_key}}>{{municipality}}</option>
                            {% endfor %}
                        {% endfor %}
                        </select>
                    </div>
                
                <!--  COUNTRY SELECTION END  -->
                
                    <div class="about" id="social-data">
                        <label for="Socials">Social Media Links: </label> <br>
                        <label for="linkedin">LinkedIn: </label><input type="text" placeholder="linkedin" name="linkedin">
                    </div>
                
                    <div class="about" id="personal-data">
                        <label for="gender">Gender: </label>
                            <select id="gender" name="gender">
                                {% if profile.gender %}
                                <option value="" selected disabled hidden>{{profile.gender}}</option>
                                {% endif %}
                                {% for gender in gender_choices %}
                                    <option value="{{gender}}">{{gender}}</option>
                                {% endfor %}
                        </select>
                    </div>
                
                    <div class="about">
                        <label for="birthday">Date of Birth:</label>
                        <input type="date" value="{{profile.birthday}}" name="birthday">
                    </div>
                
                    <div class="about">
                        <label for="mobile">Mobile Number: </label>
                        <input type="text" name="mobile" value="{{profile.contact}}">
                    </div>
                
                    <div class="about">
                        <label for="details_privacy">Details Privacy: </label>
                        <select name="details_privacy" id="details-privacy">
                                <option value="2" {% if profile.privacy == 2 %}selected{% endif %}>Only Me</option>
                                <option value="1" {% if profile.privacy == 1 %}selected{% endif %}>Scholarium Community</option>
                                <option value="0" {% if profile.privacy == 0 %}selected{% endif %}>Public on the Web</option>
                        </select>
                    </div>
                </div>
                
                <div class="save-changes">
                    <input type="submit" value="SAVE CHANGES">
                </div>
            </form>
    </div>

</div>

<div class="overlay" tabindex="-1" id="back">
    <div class="overlay-content">
      <div class="overlay-header">
        <h5 class="overlay-title">Quit editing?</h5>
      </div>
      <div class="overlay-body"> 
          <p>
              Are you sure you want to go back and cancel editing your profile? <br>
              Changes you made so far will NOT be saved.
          </p>
      </div>
      <div class="overlay-buttons">
        <center>
        <a href="{% url 'profile' %}" class="btn">Yes(Cancel)</a>
        <a href="#" class="btn">No(Continue editing)</a>
        </center>
      </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    var document = window.document;

    $(document).ready(function(){

        var $regionvar=$("#region");
        var $municipalityvar=$("#municipality");

        var $municipalityoptions=$municipalityvar.find('option');

        $municipalityvar.html($municipalityoptions.filter('[value=""]'));

        $regionvar.on('change',function(){
            $municipalityvar.html($municipalityoptions.filter('[parent="'+this.value+'"],[value=""]'));
            $('#municipality option[value=""]').prop('selected', true);

        });
    });

    
</script>

{% comment %} <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.js"></script>
<script type="text/javascript" src="../../jquery.ph-locations.js">
<script type="text/javascript" src="https://f001.backblazeb2.com/file/buonzz-assets/jquery.ph-locations.js"></script>
<script type="text/javascript">
    
    var my_handlers = {

        fill_provinces:  function(){

            var region_code = $(this).val();
            $('#province').ph_locations('fetch_list', [{"region_code": region_code}]);
            
        },

        fill_cities: function(){

            var province_code = $(this).val();
            $('#city').ph_locations( 'fetch_list', [{"province_code": province_code}]);
        },


        fill_barangays: function(){

            var city_code = $(this).val();
            $('#barangay').ph_locations('fetch_list', [{"city_code": city_code}]);
        }
    };

    $(function(){
        $('#region').on('change', my_handlers.fill_provinces);
        $('#city').on('change', my_handlers.fill_barangays);

        $('#region').ph_locations({'location_type': 'regions'});
        $('#province').ph_locations({'location_type': 'provinces'});
        $('#city').ph_locations({'location_type': 'cities'});
        $('#barangay').ph_locations({'location_type': 'barangays'});

        $('#region').ph_locations('fetch_list');
    });
    
    $( ".select option:selected" ).text();
</script> {% endcomment %}

{% endblock %}
<!--  COUNTRY SELECTION STOP  -->