{% load static %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<footer class="bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-10">
        <h2 class="text-white">Scholarium</h2>
        <p class="text-white">Duis aute irure dolor in reprehenderit
          in voluptate velit esse cillum</p>
      </div>
      <div class="col-10">
        <ul class="footer-links">
          <li><a>Help and FAQ</a></li>
          <li><a>Terms of Service</a></li>
          <li><a>Honor Code</a></li>
          <li><a>Privacy Policy</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
