{% load static %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<footer class="bg-dark">
  <div class="container mb-5">
    <div class="row mb-5 pb-5">
      <div class="col col-md-10">
        <h2 class="text-white mb-3">Scholarium</h2>
        <div class="mt-3">
          <p class="text-white">Duis aute irure dolor in reprehenderit <br>
            in voluptate velit esse cillum
          </p>
        </div>
        {% if not request.session.user_token %}
        <div class="mt-3">
          <a href="{% url 'signup' %}" class="btn">
            Join Our Community
          </a>
        </div>
        {% endif %}
      </div>
      <div class="col">
        <ul class="footer-links">
          <li><a href="#">Help and FAQ</a></li>
          <li><a href="#">Terms of Service</a></li>
          <li><a href="#">Honor Code</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
  </div>
  <p class="text-center text-white">© Copyright 2023 TMTG. All rights reserved.</p>
</footer>
