{% load static %}
<link rel="stylesheet" href="{% static 'css/header.css' %}">
<link rel="stylesheet" href="{% static 'js/header.js' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<header class="header">

    <a href="#" class="logo"><img src="{% static 'images/logo.png' %}" alt=""></a>
 
    <nav class="navbar">
       <a href="#">home</a>
       <a href="#">about</a>
    </nav>
 {% if not user.is_authenticated %}
      <div class="icons">
         <a href="/signup"><div id="account-btn" class="fas fa-user"></div></a>
         <div id="menu-btn" class="fas fa-bars"></div>
      </div>
   {% else %}
    <div class="icons">
       {{ first_name }} <i class="fa fa-caret-down" id="user-dropdown" onclick="toggleMenu()"></i>
       <div id="menu-btn" class="fas fa-bars"></div>
    </div>
{% endif %}

    <div class="sub-menu-wrappper" id="subMenu">
      <div class="sub-menu">
         <a href="/profile" class="sub-menu-link">
            <p>Profile</p> <span>></span>
         </a>
         <a href="" class="sub-menu-link">
            <p>Sign Out</p> <span>></span>
         </a>
      </div>
    </div>
 </header>