{% load static %}
<link rel="stylesheet" href="{% static 'css/header.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<header class="header" id="web-header">

    <a href="{% url 'home' %}">
        <img src="{% static 'images/schol-header-logo.png' %}" class="logo" alt="Scholarium">
    </a>
 
{% if not request.session.user_token %}
    <nav class="web-nav">
        <a href="#">About</a>
        <a href="{% url "contact" %}">Contact Us</a>
        <a href="{% url 'signin' %}">Login</a>
        <a href="{% url 'signup' %}" class="btn">Sign Up</a>
    </nav>
    <nav class="mobile-nav">
        <button class="hamburger">
            <i class="fas fa-bars" ></i>
        </button>
    </nav>
</header>
    <div class="nav-bar collapse">
        <a href="#">About</a>
        <a href="{% url "contact" %}">Contact Us</a>
        <a href="{% url 'signin' %}" class="btn btn-primary">Login</a>
        <a href="{% url 'signup' %}" class="btn btn-sec">Sign Up</a>
    </div>
{% else %}
    <nav>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'dashboard' %}">Dashboard</a>
        <div class="user-dropdown">
            {% if requet.session.username %}
                <a href="#" class="username">{{request.session.username}} <i class="fas fa-caret-down caret-down"></i></a>
            {% else %}
                <a href="#" class="username">{{request.session.email}} <i class="fas fa-caret-down caret-down"></i></a>
            {% endif %}
            <div class="dropdown-content">
                <a href="{% url 'profile' %}">Profile</a>
                <a href="{% url 'account' %}">Account</a>
                <a href="{% url 'signout' %}">Sign Out</a>
            </div>
        </div>
    </nav>
</header>
{% endif %}

<script>
    function toggleNavBar() {
        var navBar = document.querySelector(".nav-bar.collapse");
        if (navBar.style.display === "none" || navBar.style.display === "") {
          navBar.style.display = "flex";
        } else {
          navBar.style.display = "none";
        }
      }
      
      // Add a click event listener to the hamburger button
      var hamburgerButton = document.querySelector(".hamburger");
      hamburgerButton.addEventListener("click", toggleNavBar);
</script>