{% load static %}
<link rel="stylesheet" href="{% static 'css/header.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<header class="header">

    <a href="{% url 'home' %}">
        <img src="{% static 'images/schol-header-logo.png' %}" class="logo" alt="Scholarium">
    </a>
 
{% if not request.session.user_token %}
    <nav>
        <a href="#">About</a>
        <a href="#">Contact Us</a>
        <a href="{% url 'signin' %}">Login</a>
        <a href="{% url 'signup' %}" class="btn">Sign Up</a>
    </nav>
{% else %}
    <nav>
        <a href="#">Home</a>
        <a href="{% url 'courses' %}">
            Courses
        </a>
        <a href="{% url 'partner' %}">Dashboard</a>
        <div class="user-dropdown">
            <a href="#" class="username">{{request.session.username}} <i class="fas fa-caret-down caret-down"></i></a>
            <div class="dropdown-content">
                <a href="{% url 'profile' %}">Profile</a>
                <a href="{% url 'account' %}">Account</a>
                <a href="{% url 'signout' %}">Sign Out</a>
            </div>
        </div>
    </nav>
{% endif %}
 </header>