{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- ***  LANDING PAGE START  ***-->
    <section class="hero-banner">
        <div class="custom-container">
            <div class="d-flex align-items-center h-100">
                <div class="col-12 col-md-6 d-flex flex-column text-start">
                    <h1 class="hero-color">Your gateway to <br>
                        learning opportunities.
                    </h1>
                        <div class="mt-3">
                            <a href="{% url 'signup' %}" class="btn-secondary btn-sec fs-5">
                              Join Our Community
                            </a>
                          </div>
                </div>
                <div class="col-12 col-md-6 d-flex flex-column align-items-center">
                    <img src=""/>
                </div>
            </div>
        </div>
    </section>

    <section class="about">
        <div class="container h-100 d-flex flex-column justify-content-center">
            <h2>New on Scholarium</h2>
            <p class="pb-5 mb-3">Sign up today and start applying for scholarship opportunities.</p>
            <div class="row d-flex align-items-start">
                <div class="col">
                    <h1>1</h2>
                    <h3>Create an account</h3>
                    <p>
                        Make sure to complete your <br>
                        learner account profile before <br>
                        applying to a program.
                    </p>
                </div>
                <div class="col">
                    <h1>2</h2>
                    <h3>Choose a scholarship</h3>
                    <p>
                        Browse through a wide array of <br>
                        free online learning opportunities <br>
                        provided by various partner institutions.
                    </p>
                </div>
                <div class="col">
                    <h1>3</h2>
                    <h3>Apply to the program</h3>
                    <p>
                        Check program details and <br>
                        learner requisites before <br>
                        applying to a program.
                    </p>
                </div>
                <div class="col">
                    <h1>4</h2>
                    <h3>Earn credential</h3>
                    <p>
                        Start learning and be rewarded <br>
                        with a certificate to highlight <br>
                        your new career accomplishment.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="ignite bg-dark">
        <div class="container">
            <div class="row align-items-center">
                <div class="col section-image">
                    <img src="https://scholarium-static.s3.ap-southeast-1.amazonaws.com/grad-diploma.png" alt="toga-diploma">
                </div>
                <div class="col">
                    <h1 style="color: #D4AF37;">Igniting your Aspirations</h1>
                    <p class="text-white fs-5">
                        As a purpose-driven organization, we are <br>
                        committed to achieving a Philippines where <br>
                        every Filipino can access learning opportunities to <br>
                        unlock their potential at any stage in life, <br>
                        without the hindrance of financial barriers or <br>
                        geographical limitations.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="partner">
        <div class="container">
            <div class="container my-5 py-5 d-flex flex-column">
                <h2>Partners</h2>
                <div class="row d-flex align-items-center justify-content-center program-partner-logos py-5">
                    <img src="https://coursebank-static-assets-tmtg.s3-ap-northeast-1.amazonaws.com/theme/Coursebank+Logo+-+Main.png">
                    <img src="https://coursebank-static-assets-tmtg.s3.ap-northeast-1.amazonaws.com/DICT-Logo-nobg.png">
                    <img src="https://coursebank-static-assets-tmtg.s3.ap-northeast-1.amazonaws.com/ILCDB+logo_2.png">
                    <img src="https://coursebank-static-assets-tmtg.s3.ap-northeast-1.amazonaws.com/coursera-social-logo-brand.png">
                    <img src="https://coursebank-static-assets-tmtg.s3.ap-northeast-1.amazonaws.com/logo-moocsx.png">
                </div>
            </div>
        </div>
    </section>
{% endblock %}