{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- ***  LANDING PAGE START  ***-->
<div class="container">
    <div class="landing d-flex flex-column justify-content-center fs-height text-start">
        <h1>Scholarium</h1>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. <br>
            Quisquam at possimus voluptates temporibus dolorum obcaecati vero nobis numquam.
        </p>
    </div>
    <div class="about d-flex flex-column justify-content-center fs-height text-end">
        <h2>About Us</h2>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. <br>
            Deleniti voluptatum officia eaque at vero distinctio nemo modi, <br> 
            iste sequi enim aperiam numquam eveniet molestiae ad, <br>
            tempora quae expedita nam debitis?
        </p>
    </div>
    <div class="partner d-flex flex-column justify-content-center fs-height text-start">
        <h2>Become Our Partner</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
            Recusandae a aliquid nesciunt eligendi nulla praesentium aperiam quos ullam. <br>
            Velit voluptatibus saepe magnam officiis nemo, sint cum. Ex repudiandae provident reiciendis.
        </p>
    </div>
</div>
{% endblock %}