{% extends 'base.html' %}
{% load static %}
{% load parse_iso %}
{% block content %}
<div class="container">
    <div class="content">
        <!--FIRST TAB-->
        <div class="tab active" id="partner-dashboard">
            <div class="dashboard">
                <h3>SCHOLARSHIP APPLICATION REPORT</h3>
                <table>
                    <tr>
                        <th>PENDING</th>
                        <th>WAITLIST</th>
                        <th>APPROVED</th>
                        <th>REJECTED</th>
                    </tr>
                    <tr>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                </table>
            </div>
            <div class="scholar-progress">
                <h3>PROGRESS REPORT</h3>
                <table>
                    <tr>
                        <th>SCHOLAR</th>
                        <th>PROGRAM</th>
                        <th>PROGRESS</th>
                    </tr>
                    <tr>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                </table>
            </div>
            <div class="programs-partner">
                <h3>ANNOUNCEMENTS</h3>
                <table>
                    <tr>
                        <th>ANNOUNCEMENT</th>
                        <th>ACTION</th>
                    </tr>
                    <tr>
                        <td> announcement 1 </td>
                        <td>
                            <button class="btn btn-primary">update</button>
                            <button class="btn btn-primary">delete</button>
                        </td>
                    </tr>
                </table>
                <button class="btn btn-primary">Add +</button>
            </div>
        </div>
        <!--SECOND TAB-->
        <div class="bg-light" id="courses">
            <div class="container pt-6 pb-6">
              <section class="section-courses-container">
                <div class="section-header d-flex align-items-center">
                  <h3 class="section-title me-auto">Programs</h3>
                </div>
                <div class="row pt-3 gutter-2rem">
                    {% for program in program_list %}
                    <div class="col-12 mb-4">
                        <a href="{% url 'application' program.partner_id program.id %}"></a>
                        <div class="course-item course-item-row"><a href="{% url 'application' program.partner_id program.id %}">
                            <img class="img-item" height="100%" width="320px" src="https://coursebank-static-assets-tmtg.s3.ap-northeast-1.amazonaws.com/sample-background.jpeg">
                            </a>
                        <div class="course-details-container w-100">
                            <a href="{% url 'application' program.partner_id program.id %}">
                            <p class="course-description mb-1 mt-2">
                                {{program.name}}
                            </p>
                            <p class="text-dark mb-1">
                                {{program.description}}
                            </p>
                            <div class="d-flex align-items-center pb-3">
                                <img width="50px"src="https://coursebank-static-assets-tmtg.s3.ap-northeast-1.amazonaws.com/DICT-Logo-nobg.png">
                                <img width="50px"src="https://coursebank-static-assets-tmtg.s3.ap-northeast-1.amazonaws.com/ILCDB+logo_2.png">
                                <img width="50px"src="https://coursebank-static-assets-tmtg.s3.ap-northeast-1.amazonaws.com/coursera-social-logo-brand.png">
                                <img width="50px"src="https://coursebank-static-assets-tmtg.s3.ap-northeast-1.amazonaws.com/logo-moocsx.png">
                            </div>
                            </a>
                            </div>
                    </div>
                  </div>  
                  {% endfor %}          
                  </div>
                </div>

              </section>
            </div>
          </div>

{% comment %} 
        <div class="tab" id="scholarship-programs">
            <div class="program-list">
                <h4>Programs</h4>
                    <div class="card-wrapper">
                        {% for program in program_list %}
                        <a href="{% url 'application' program.partner_id program.id %}"/>
                            <div class="card-container">
                                <div class="card-image">
                                    <img src="https://coursebank-static-assets-tmtg.s3.ap-northeast-1.amazonaws.com/sample-background.jpeg">
                                </div>
                                
                                <div class="card-partner-logo">
                                    <img src="https://coursebank-static-assets-tmtg.s3.ap-northeast-1.amazonaws.com/DICT-Logo-nobg.png">
                                    <img src="https://coursebank-static-assets-tmtg.s3.ap-northeast-1.amazonaws.com/ILCDB+logo_2.png">
                                    <img src="https://coursebank-static-assets-tmtg.s3.ap-northeast-1.amazonaws.com/coursera-social-logo-brand.png">
                                    <img src="https://coursebank-static-assets-tmtg.s3.ap-northeast-1.amazonaws.com/logo-moocsx.png">
                                </div>
                                
                                <div class="card-content">
                                    <div class="container-card-title">
                                        <h3>{{program.name}}</h3>
                                        <p class="card-title-content">
                                            6 courses <br>
                                            {% if program.end_date %}
                                                {{program.start_date|parse_iso|date:"M d"}} - {{program.end_date|parse_iso|date:"M d, Y"}}
                                            {% else %}
                                                since {{program.start_date|parse_iso|date:"M d, Y"}}
                                            {% endif %}
                                        </p>
                                        <p class="card-title-footer">
                                            {% if program.registration_end %}
                                                Registration closes on <br>
                                                {{program.registration_end}}
                                            {% else %}
                                                Registration is open
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                            </div>
                     </a>    
                    {% endfor%}                      
                </div>
            </div>
        </div>           
 {% endcomment %}
         <!--THIRD TAB-->
        {% comment %} <div class="tab" id="scholarship-applications">
            <h4>Applications</h4>
            {% for applicant in scholarship_applicants %}
            <form action="" class="scholarship-applications" id="apply" method="POST">
                <div class="action-name">
                    <h4>{{applicant.first_name}} {{applicant.last_name}}</h4>
                    <p>University</p>
                    <p>Degree</p>
                    Application Status: {{applicant.status}}
                    <input type="hidden" name="user_id" value="{{applicant.user_id}}" />
                    <input type="hidden" name="program_id" value="{{applicant.program_id}}" />
                </div>
                <div class="action-buttons">
                        {% csrf_token %}
                    <button class="btn btn-primary green" name='approve'>Approve</button>
                    <button class="btn btn-primary yellow" name='waitlist'>Waitlist</button>
                    <button class="btn btn-primary red" name='reject'>Reject</button>
                </div>
            </form>
            {% endfor %}
        </div> {% endcomment %}
        <div class="tab" id="scholars">
            <h4>Scholars</h4>
            <div class="scholar-list">
                <h3>SCHOLARS</h3>
                <table>
                    <tr>
                        <th>SCHOLAR</th>
                        <th>PROGRAM</th>
                        <th>ACTION</th>
                    </tr>
                    <tr>
                        <td>-</td>
                        <td>-</td>
                        <td>
                            <button class="btn btn-primary">view</button>
                            <button class="btn btn-primary">update</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}