{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="tab-container">
    <div class="tabs">
        <h3 class="active">DASHBOARD</h3>
        <h3>PROGRAMS</h3>
        <h3>APPLICATIONS</h3>
        <h3>SCHOLARS</h3>
    </div>
    <div class="tab-content">
        <!--FIRST TAB-->
        <div class="tab active" id="partner-dashboard">
            <div class="dashboard">
                <h3>SCHOLARSHIP APPLICATION REPORT</h3>
                <table>
                    <tr>
                        <th>SHORTLIST</th>
                        <th>WAITLIST</th>
                        <th>APPROVED</th>
                        <th>REJECTED</th>
                    </tr>
                    <tr>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                </table>
            </div>
            <div class="scholar-progress">
                <h3>PROGRESS REPORT</h3>
                <table>
                    <tr>
                        <th>SCHOLAR</th>
                        <th>PROGRAM</th>
                        <th>PROGRESS</th>
                    </tr>
                    <tr>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                </table>
            </div>
            <div class="programs-partner">
                <h3>ANNOUNCEMENTS</h3>
                <table>
                    <tr>
                        <th>ANNOUNCEMENT</th>
                        <th>ACTION</th>
                    </tr>
                    <tr>
                        <td> announcement 1 </td>
                        <td>
                            <button class="action-btn">update</button>
                            <button class="action-btn">delete</button>
                        </td>
                    </tr>
                </table>
                <button class="action-btn">Add +</button>
            </div>
        </div>
        <!--SECOND TAB-->
        <div class="tab" id="scholarship-programs">
            <div class="program-list">
                <h3>PROGRAMS</h3>
                <table>
                    
                    <tr>
                        <th>PROGRAM</th>
                        <th>ACTION</th>
                    </tr>
                    {% for program in program_list %}
                        <tr>
                            <td>
                                {{program.name}}
                            </td>
                            <td>
                                <a href="" class="action-btn" style="padding:10px 20px; text-decoration: none;">view</a>
                            </td>
                        </tr>
                    {% endfor%}   
                </table>
            </div>
        </div>           
         <!--THIRD TAB-->
        <div class="tab" id="scholarship-applications">
            <h4>Applications</h4>
            <div class="wrapper-filter">
                <div class="search-bar">
                    <div id="search-container">
                        <input id="search-input" type="search" placeholder="search...">
                        <button id="search">search <i class="fa fa-search"></i></button>
                    </div>
                    <div id="filter-buttons">
                        <button class="btn">All</button>
                        <button class="btn">Program</button>
                        <button class="btn">Status</button>
                    </div>
                </div>
            </div>
            {% for applicant in scholarship_applicants %}
            <form action="" class="scholarship-applications" id="apply" method="POST">
                <div class="action-name">
                    <h4>{{applicant.first_name}} {{applicant.last_name}}</h4>
                    <p>University</p>
                    <p>Degree</p>
                    Application Status: {{applicant.status}}
                    <input type="hidden" name="user_id" value="{{applicant.user_id}}" />
                    <input type="hidden" name="program_id" value="{{applicant.program_id}}" />
                </div>
                <div class="action-buttons">
                        {% csrf_token %}
                    <button class="action-btn green" name='approve'>Approve</button>
                    <button class="action-btn yellow" name='waitlist'>Waitlist</button>
                    <button class="action-btn red" name='reject'>Reject</button>
                </div>
            </form>
            {% endfor %}
        </div>
        <!--FOURTH TAB-->
        <div class="tab" id="scholars">
            <h4>Scholars</h4>
            <div class="scholar-list">
                <h3>SCHOLARS</h3>
                <table>
                    <tr>
                        <th>SCHOLAR</th>
                        <th>PROGRAM</th>
                        <th>ACTION</th>
                    </tr>
                    <tr>
                        <td>-</td>
                        <td>-</td>
                        <td>
                            <button class="action-btn">view</button>
                            <button class="action-btn">update</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    let tabs = document.querySelectorAll(".tabs h3");
    let tabContents = document.querySelectorAll(".tab-content .tab");

    var lastTabIndex = sessionStorage.getItem('lastTabIndex');

    tabs.forEach((tab,index) => {    
        if (lastTabIndex) {
            tabContents.forEach((content) =>{
                content.classList.remove("active");
            });
            tabs.forEach((tab) => {
                tab.classList.remove("active");
            });
            tabContents[lastTabIndex].classList.add("active");
            tabs[lastTabIndex].classList.add("active");
        }
        
        tab.addEventListener("click", () => {
            tabContents.forEach((content) =>{
                content.classList.remove("active");
            });
            tabs.forEach((tab) => {
                tab.classList.remove("active");
            });
            try {
                sessionStorage.setItem('lastTabIndex', index);
            } catch (error) {
                console.log(error);
            }
            tabContents[index].classList.add("active");
            tabs[index].classList.add("active");
        })
    })

</script>
{% endblock %}