<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/fontawesome.min.css" integrity="sha512-RvQxwf+3zJuNwl4e0sZjQeX7kUa3o82bDETpgVCH2RiwYSZVDdFJ7N/woNigN/ldyOOoKw8584jM4plQdt8bhA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script
src="https://kit.fontawesome.com/64d58efce2.js"
crossorigin="anonymous"
></script>
<div class="body-color-disregard">

</div>
<div class="profile-container">
    <div class="image-container">
        <img src="images/profilepic.svg" alt="" class="profile-picture">
    </div>
    <div class="name-container">
        <h2 class="name">Juan D. Reksyon</h2>
        <p>insert description</p>
    </div>
    <div class="edit-profile">
       <a href="edit_profile.html"><i class="fa fa-pencil"></i></a>
    </div>
    <div class="achievements-container">
        <section class="achievements">
            <div class="achievement-item">
                <h3 class="achievement-title"><i class="fa fa-award"></i> Achievement #1</h3>
                <p>achievement description</p>
                <p>date acquired</p>
            </div>
            <div class="achievement-item">
                <h3 class="achievement-title"><i class="fa fa-award"></i> Achievement #2</h3>
                <p>achievement description</p>
                <p>date acquired</p>
            </div>
            <div class="achievement-item">
                <h3 class="achievement-title"><i class="fa fa-award"></i> Achievement #3</h3>
                <p>achievement description</p>
                <p>date acquired</p>
            </div>
            <div class="achievement-item">
                <h3 class="achievement-title"><i class="fa fa-award"></i> Achievement #4</h3>
                <p>achievement description</p>
                <p>date acquired</p>
            </div>
        </section>
    </div>
</div>