{% extends 'base.html' %}
{% load static %}
{% load parse_iso %}
{% block content %}

<div class="container h-100">
<div class="d-flex">
    <div class="col">
        <img src="" alt="">
        <h5>{{request.first_name}} {{request.last_name}}</h5>
        <p>Member since 2023</p>
    </div>
    <div class="col">
        <table>
            <tr>
                <td>Total learning hours</td>
                <td>123</td>
            </tr>
            <tr>
                <td>Professional Certificates earned</td>
                <td>123</td>
            </tr>
            <tr>
                <td>Specializations completed</td>
                <td>123</td>
            </tr>
            <tr>
                <td>Courses completed</td>
                <td>123</td>
            </tr>
            <tr>
                <td>Total Credits earned</td>
                <td>123</td>
            </tr>
        </table>
    </div>
</div>
</div>

{% endblock %}