{% extends 'base.html' %}
{% load static %}
{% load parse_iso %}
{% block content %}
<div class="tab-container">
    <div class="tabs">
        <h3 class="active">SCHOLARSHIPS</h3>
        <h3>PROFILE</h3>
        <h3>ACHIEVEMENTS</h3>
    </div>
    
    <div class="tab-content">
        {% comment %} FIRST TAB {% endcomment %}
        <div class="tab active">
            <h4>Scholarships</h4>
            <div class="sub-tabs">
                <h5 class="opentab">AVAILABLE</h5>
                <h5>IN PROGRESS</h5>
            </div>

            <div class="sub-tab-content">
                <div class="subtab opentab" id="available">
                    <div class="card-wrapper">
                        {% for program in program_list %}
                        <a href="{% url 'program' program.partner_id program.id %}"/>
                            {% comment %} <a href="{% url 'sampleprogram1' %}"> {% endcomment %}
                                <div class="card-container">
                                    <div class="card-image">
                                        <img src="https://coursebank-static-assets-tmtg.s3.ap-northeast-1.amazonaws.com/sample-background.jpeg">
                                    </div>
                                    
                                    <div class="card-partner-logo">
                                        <img src="https://coursebank-static-assets-tmtg.s3.ap-northeast-1.amazonaws.com/DICT-Logo-nobg.png">
                                        <img src="https://coursebank-static-assets-tmtg.s3.ap-northeast-1.amazonaws.com/ILCDB+logo_2.png">
                                        <img src="https://coursebank-static-assets-tmtg.s3.ap-northeast-1.amazonaws.com/coursera-social-logo-brand.png">
                                        <img src="https://coursebank-static-assets-tmtg.s3.ap-northeast-1.amazonaws.com/logo-moocsx.png">
                                    </div>
                                    
                                    <div class="card-content">
                                        <div class="container-card-title">
                                            <h3>{{program.name}}</h3>
                                            <p class="card-title-content">
                                                6 courses <br>
                                                {% if program.end_date %}
                                                    {{program.start_date|parse_iso|date:"M d"}} - {{program.end_date|parse_iso|date:"M d, Y"}}
                                                {% else %}
                                                    since {{program.start_date|parse_iso|date:"M d, Y"}}
                                                {% endif %}
                                            </p>
                                            <p class="card-title-footer">
                                                {% if program.registration_end %}
                                                    Registration closes on <br>
                                                    {{program.registration_end}}
                                                {% else %}
                                                    Registration is open
                                                {% endif %}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </a>    
                        {% endfor%}                      
                    </div>
                </div>

                <div class="subtab" id="ongoing"> 
                    <div class="card-wrapper">
                        {% comment %} FIRST CARD {% endcomment %}
                        <a href="{% url 'sampleprogram4' %}">
                            <div class="card-container">
                                <div class="card-image">
                                    <img src="https://coursebank-static-assets-tmtg.s3.ap-northeast-1.amazonaws.com/sample-background.jpeg">
                                </div>
                                
                                <div class="card-partner-logo">
                                    <img src="https://coursebank-static-assets-tmtg.s3.ap-northeast-1.amazonaws.com/DICT-Logo-nobg.png">
                                    <img src="https://coursebank-static-assets-tmtg.s3.ap-northeast-1.amazonaws.com/ILCDB+logo_2.png">
                                    <img src="https://coursebank-static-assets-tmtg.s3.ap-northeast-1.amazonaws.com/coursera-social-logo-brand.png">
                                </div>
                                
                                <div class="card-content">
                                    <div class="container-card-title">
                                        <h3>Sample Program 4</h3>
                                        <p class="card-title-content">
                                            6 courses <br>
                                            Feb 01 - Jul 31, 2023
                                        </p>
                                        <p class="card-title-footer">
                                            Registration closes on <br>
                                            Jan 25, 2023
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>

                        {% comment %} SECOND CARD {% endcomment %}
                        <a href="{% url 'sampleprogram5' %}">
                            <div class="card-container">
                                <div class="card-image">
                                    <img src="https://coursebank-static-assets-tmtg.s3.ap-northeast-1.amazonaws.com/sample-background.jpeg">
                                </div>
                                
                                <div class="card-partner-logo">
                                    <img src="https://coursebank-static-assets-tmtg.s3.ap-northeast-1.amazonaws.com/DICT-Logo-nobg.png">
                                    <img src="https://coursebank-static-assets-tmtg.s3.ap-northeast-1.amazonaws.com/ILCDB+logo_2.png">
                                    <img src="https://coursebank-static-assets-tmtg.s3.ap-northeast-1.amazonaws.com/coursera-social-logo-brand.png">
                                </div>
                                
                                <div class="card-content">
                                    <div class="container-card-title">
                                        <h3>Sample Program 5</h3>
                                        <p class="card-title-content">
                                            6 courses <br>
                                            Feb 01 - Jul 31, 2023
                                        </p>
                                        <p class="card-title-footer">
                                            Registration closes on <br>
                                            Jan 25, 2023
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a> 

                    </div>
                </div>

            </div>
        </div>
    
        {% comment %} SECOND TAB {% endcomment %}
        <div class="tab">
                <h4>Profile</h4>
                {% comment %} {{profile.photo}} {% endcomment %}
                <p class="profile-full-name">{{profile.first_name}} {{profile.last_name}}</p>
                <br>
                <br>
                <h5>About Me</h5>
                <hr>
                    {{profile.about}}
                    <br>
                    <br>
                    Gender: {{profile.gender}}
                    <br>
                    Socials: {{profile.socials}}
                    <br>
                    Country: {{profile.country}}
                    <br>
                    Birthday: {{profile.birthday}}
                    <br>
                    Contact: {{profile.contact}}
                    <br>
                    Privacy:
                        {% if profile.privacy == 0 %}
                            Public on the Web
                        {% elif profile.privacy == 1 %}
                            Scholarium Community
                        {% else %}
                            Only Me
                        {% endif %}
                <br>
                <br>                
                <h5>Work Experience and Education</h5>
                <hr>
                {% if employment.experience %}
                {{employment.experience}} | {{employment.employ_status}}
                {% else %}
                No employment experience
                {% endif %}
                <br>
                {% if education.degree %}
                Education Level | {{education.degree}}
                {% else %}
                No educational attainment
                {% endif %}
                <br>
                <br>
                <br>
                <a href="{% url 'edit' %}"> Edit Profile</a>
        </div>  

        {% comment %} THIRD TAB {% endcomment %}
        <div class="tab">
            <h4>Achievements</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio labore, excepturi assumenda quo mollitia dignissimos odit beatae illo. Error, velit molestiae repellat dolore explicabo facilis harum qui rem libero deleniti.</p>
        </div>        
    </div>
</div>
<script>
    let tabs = document.querySelectorAll(".tabs h3");
    let tabContents = document.querySelectorAll(".tab-content .tab");

    let subTabs = document.querySelectorAll(".sub-tabs h5");
    let subTabContents = document.querySelectorAll(".sub-tab-content .subtab");

    var lastTabIndex = sessionStorage.getItem('lastTabIndex');
    var lastSubTabIndex = sessionStorage.getItem('lastSubTabIndex');

    tabs.forEach((tab,index) => {    
        if (lastTabIndex) {
            tabContents.forEach((content) =>{
                content.classList.remove("active");
            });
            tabs.forEach((tab) => {
                tab.classList.remove("active");
            });
            tabContents[lastTabIndex].classList.add("active");
            tabs[lastTabIndex].classList.add("active");
        }
        
        tab.addEventListener("click", () => {
            tabContents.forEach((content) =>{
                content.classList.remove("active");
            });
            tabs.forEach((tab) => {
                tab.classList.remove("active");
            });
            try {
                sessionStorage.setItem('profileLastTabIndex', index);
            } catch (error) {
                console.log(error);
            }
            tabContents[index].classList.add("active");
            tabs[index].classList.add("active");
        })
    })

    tabs.forEach((tab,index) => {    
        if (lastTabIndex) {
            tabContents.forEach((content) =>{
                content.classList.remove("active");
            });
            tabs.forEach((tab) => {
                tab.classList.remove("active");
            });
            tabContents[lastTabIndex].classList.add("active");
            tabs[lastTabIndex].classList.add("active");
        }
        
        tab.addEventListener("click", () => {
            tabContents.forEach((content) =>{
                content.classList.remove("active");
            });
            tabs.forEach((tab) => {
                tab.classList.remove("active");
            });
            try {
                sessionStorage.setItem('profileLastTabIndex', index);
            } catch (error) {
                console.log(error);
            }
            tabContents[index].classList.add("active");
            tabs[index].classList.add("active");
        })
    })
    
    subTabs.forEach((subtab,index) => {
        subtab.addEventListener("click", () => {
            subTabContents.forEach((subcontent) =>{
                subcontent.classList.remove("opentab");
            });
            subTabs.forEach((subtab) => {
                subtab.classList.remove("opentab");
            });
            subTabContents[index].classList.add("opentab");
            subTabs[index].classList.add("opentab");
        })
    })
</script>
{% endblock %}