{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="tab-container">
    <div class="tabs">
        <h3 class="active">SCHOLARSHIPS</h3>
        <h3>PROFILES</h3>
        <h3>CERTS AND BADGES</h3>
    </div>
    <div class="tab-content">
        <!--FIRST TAB-->
        <div class="tab active">
            <h4>Scholarships</h4>
            <div class="sub-tabs">
                <h5 class="opentab">SCHOLARSHIPS</h5>
                <h5>IN PROGRESS</h5>
            </div>

            <div class="sub-tab-content">
                <div class="subtab opentab">
                    <div class="card-wrapper">
                        {% for program in programs %}
                        <a href="{% url 'program' slug=program.slug%}">
                            <div class="card-container">
                                <div class="card-image {{ program.slug }}_image">
                                </div>
                                <div class="card-partner-logo">
                                    {% for logo in partner_logos %}
                                    {{ logo }}
                                    {% endfor %}
                                </div>
                                <div class="card-content">
                                    <div class="container-card-title">
                                        <h2>{{ program.name }}</h2>
                                        <p class="card-title-content">
                                            {{ program.course_number }} <br>
                                            {{ program.start_date }}
                                        </p>
                                        <p class="card-title-footer">
                                            {{program.end_date}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                        {% endfor %}
                    </div>
                </div>

                <div class="subtab"> </div>
            </div>
        </div> 

        <!--SECOND TAB-->
        <div class="tab">
            <h4>Profile</h4>
                {{request.user.profile.profile_pic}}

                {{request.user.profile.fname}} &nbsp {{request.user.profile.middle_name}} &nbsp {{request.user.profile.lname}}
                <br>
                <h5>About Me</h5>
                <hr>
                <br>
                {{request.user.profile.about}}
                <h5>Work Experience and Education</h5>
                <hr>
                {{request.user.employment.experience}} | {{request.user.employment.employ_status}}
                <br>
                Education Level | {{request.user.education.degree}}
                <br>
                <a href="{% url 'edit' %}"> Edit Profile</a>
        </div>   

         <!--THIRD TAB-->
        <div class="tab">
            <h4>Certificates and Badges</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio labore, excepturi assumenda quo mollitia dignissimos odit beatae illo. Error, velit molestiae repellat dolore explicabo facilis harum qui rem libero deleniti.</p>
        </div>        
        </div>
    </div>
</div>
<script>
    let tabs = document.querySelectorAll(".tabs h3");
    let tabContents = document.querySelectorAll(".tab-content .tab");

    let subTabs = document.querySelectorAll(".sub-tabs h5");
    let subTabContents = document.querySelectorAll(".sub-tab-content .subtab");

    tabs.forEach((tab,index) => {
        tab.addEventListener("click", () => {
            tabContents.forEach((content) =>{
                content.classList.remove("active");
            });
            tabs.forEach((tab) => {
                tab.classList.remove("active");
            });
            tabContents[index].classList.add("active");
            tabs[index].classList.add("active");
        })
    })

    subTabs.forEach((subtab,index) => {
        subtab.addEventListener("click", () => {
            subTabContents.forEach((subcontent) =>{
                subcontent.classList.remove("opentab");
            });
            subTabs.forEach((subtab) => {
                subtab.classList.remove("opentab");
            });
            subTabContents[index].classList.add("opentab");
            subTabs[index].classList.add("opentab");
        })
    })
</script>
{% endblock %}