{% extends 'base.html' %}
{% load static %}
{% load parse_iso %}
{% block content %}
{% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/courses.css' %}"/> {% endcomment %}

<div class="mb-3 mt-5 mb-3 page-banner w-100">
    <h3 class="banner-title">DASHBOARD</h3>
</div>
<div class="w-100 px-5">
  
    <div class="bg-white">
        <div class="py-5">
            <h3 class="res-title">Enrolled Programs</h3>
                    <div class="partner-cards my-5">
                        {% comment %} {% if not scholarship %}
                            <p>You are not yet enrolled in any Scholarship Programs.</p>  
                            {% else %} {% endcomment %}
                        {% for scholarship in scholarships %}
                            {% for program in program_list %}
                                {% if scholarship.program_id == program.id %}    
                                    <a href="{% url 'program' program.slug %}">
                                        <div class="partner-card-container">
                                            <div class="partner-card-image">
                                                <div class="partner-card-image">
                                                {% if program.image_1 %}
                                                <img class="img-item" src="{{program.image_1}}">
                                                {% else %}
                                                <img class="img-item" src="https://coursebank-static-assets-tmtg.s3.ap-northeast-1.amazonaws.com/spiral_ict_model-768x415.jpg">
                                                {% endif %} 
                                                </div>
                                            </div>
                                            
                                            <div class="card-partner-logo">
                                                {% if program.partner_logo_1 %}
                                                    <img src="{{ program.partner_logo_1 }}">
                                                {% endif %}

                                                {% if program.partner_logo_2 %}
                                                    <img src="{{ program.partner_logo_2 }}">
                                                {% endif %}

                                                {% if program.partner_logo_3 %}
                                                    <img src="{{ program.partner_logo_3 }}">
                                                {% endif %}

                                                {% if program.partner_logo_4 %}
                                                    <img src="{{ program.partner_logo_4 }}">
                                                {% endif %}
                                            </div>
                                            
                                            <div class="card-content">
                                                <div class="container-card-title pt-3">
                                                    <h5 class="text-dark program-card-title">{{program.name}}</h5>
                                                    <p class="card-title-content">
                                                        {% if program.end_date %}
                                                            {{program.start_date|parse_iso|date:"M d"}} - {{program.end_date|parse_iso|date:"M d, Y"}}
                                                        {% else %}
                                                            since {{program.start_date|parse_iso|date:"M d, Y"}}
                                                        {% endif %}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>  
                                {% endif %}      
                            {% endfor %}   
                        {% endfor %}  
                            {% comment %} {% endif %} {% endcomment %}
                    </div> 
                </div>
        </div>
    </div>
    {% comment %} WALA DAW DAPAT AVAILABLE PROGRAMS SA DASHBOARD {% endcomment %}
    {% comment %} <div class="bg-light w-100"> {% endcomment %}
    {% comment %} <div class="bg-white w-100">
        <div class="my-5 p-5">
            <h3 class="res-title">Available Programs</h3>
                <div class="partner-cards my-5">
                    {% for program in program_list %}
                        {% if program.id not in applied_programs %}   
                            <a href="{% url 'program' program.slug %}">
                                <div class="partner-card-container">
                                    <div class="partner-card-image">
                                        {% if program.image %}
                                        <img class="img-item" src="{{program.image}}">
                                        {% else %}
                                        <img class="img-item" src="https://coursebank-static-assets-tmtg.s3.ap-northeast-1.amazonaws.com/spiral_ict_model-768x415.jpg">
                                        {% endif %} 
                                    </div>
                                    
                                    <div class="card-partner-logo">
                                        <img src="https://coursebank-static-assets-tmtg.s3.ap-northeast-1.amazonaws.com/DICT-Logo-nobg.png">
                                        <img src="https://coursebank-static-assets-tmtg.s3.ap-northeast-1.amazonaws.com/ILCDB+logo_2.png">
                                        <img src="https://coursebank-static-assets-tmtg.s3.ap-northeast-1.amazonaws.com/coursera-social-logo-brand.png">
                                        <img src="https://coursebank-static-assets-tmtg.s3.ap-northeast-1.amazonaws.com/logo-moocsx.png">
                                    </div>
                                    
                                    <div class="card-content">
                                        <div class="container-card-title pt-3">
                                            <h5 class="text-dark">{{program.name}}</h5>
                                            <p class="card-title-content">
                                                {% if program.end_date %}
                                                    {{program.start_date|parse_iso|date:"M d"}} - {{program.end_date|parse_iso|date:"M d, Y"}}
                                                {% else %}
                                                    since {{program.start_date|parse_iso|date:"M d, Y"}}
                                                {% endif %}
                                                {% if program.registration_end %}
                                                    <br>Registration closes on <br>
                                                    {{program.registration_end}}
                                                {% else %}
                                                    <br>Registration is open
                                                {% endif %}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </a>  
                        {% endif %}
                    {% endfor %}
                </div>
        </div>
    </div> {% endcomment %}
</div>
{% endblock %}