{% extends 'base.html' %}
{% load static %}
{% block content %}
{% for program in programs %}

<div class="h-100">
    <div class="program-grid-right">
        <div class="scholar-applications">
            <h3>APPLICATIONS</h3>
            
            <div class="rc-ProfilePhotoUploader form-horizontal">
                <div class="form-group horizontal-box wrap my-3 align-items-center">
                    <div class="form-control-custom">
                        <div class="css-1cq002f">
                            <div class="css-ek3fxo d-flex">
                                <input type="search" placeholder="search..." class="input-ctrl mx-1">
                                <button class="btn btn-primary" id="search"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="my-3">
                <label><input type="checkbox" class="status-filter" value="1"> Approved</label>&nbsp;&nbsp;
                <label><input type="checkbox" class="status-filter" value="2"> Waitlisted</label>&nbsp;&nbsp;
                <label><input type="checkbox" class="status-filter" value="3"> Rejected</label>&nbsp;&nbsp;
                <label><input type="checkbox" class="status-filter" value="0"> Pending</label>
            </div>

            <table class="my-5">
                <tr>
                    <td class="box">
                        <input type="checkbox" name="all" id="selectAll">
                    </td>
                    <td>
                        <div class="action-name">
                            Select All
                        </div>
                    </td>
                </tr>
                <form action="" class="scholarship-applications" id="apply" method="POST">
                    {% csrf_token %}
                    <tbody id="applicant-list">
                        {% for applicant in scholarship_applicants %}
                            <tr class="applicant-row" data-status="{{ applicant.status }}">
                                <td>
                                    <input class="checkbox" type="checkbox" name="user_id[]" value="{{ applicant.user_id }}" id="user_id_{{applicant.user_id}}">
                                </td>
                                <td>
                                    <label for="user_id_{{applicant.user_id}}" class="action-name">
                                        <strong>{{applicant.first_name|title}} {{applicant.last_name|title}}</strong> 
                                        &nbsp;&nbsp;
                                            {% if applicant.status == 0 %}
                                                Pending
                                                {% elif applicant.status == 1 %}
                                                Approved
                                                {% elif applicant.status == 2 %}
                                                Waitlisted
                                                {% elif applicant.status == 3 %}
                                                Rejected
                                            {% endif %}
                                        <br>
                                        {{ applicant.email }}
                                        {% if applicant.email and applicant.occupation or applicant.degree %} • {% endif %}
                                        {{ applicant.occupation }}{% if applicant.occupation and applicant.degree %} • {% endif %}
                                        {{ applicant.degree }}
                                    </label>
                                    <input type="hidden" name="user_id" value="{{ applicant.user_id }}">
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>

                    <button class="btn btn-green mx-1" type="submit" name="approve" value="Approve">Approve</button>
                    <button class="btn btn-yellow mx-1" type="submit" name="waitlist" value="Waitlist">Waitlist</button>
                    <button class="btn btn-red mx-1" type="submit" name="reject" value="Reject">Reject</button>
                    <button class="btn btn-primary mx-1" type="submit" name="clear" value="Clear">Clear</button>
                </form>
            </table>
        </div>
    </div>
</div>

{% comment %} <div class="tab" id="scholarship-applications">
    <h3>Applications</h3>
    {% for applicant in scholarship_applicants %}
    <form action="" class="scholarship-applications" id="apply" method="POST">
        <input type="checkbox">
        <div class="action-name">
            <p><strong>{{applicant.first_name|title}} {{applicant.last_name|title}}</strong></p>
            <p style="font-size: 12px; color: #4C4E52">{{applicant.email}}</p>
            <p style="font-size: 12px; color: #4C4E52">{{applicant.occupation}}</p>
            <p style="font-size: 12px; color: #4C4E52">{{applicant.degree}}</p>
            Status: 
            {% if applicant.status == 0 %}
            Pending
            {% elif applicant.status == 1 %}
            Approved
            {% elif applicant.status == 2 %}
            Waitlisted
            {% elif applicant.status == 3 %}
            Rejected
            {% endif %}
            
            <input type="hidden" name="user_id" value="{{applicant.user_id}}" />
            <input type="hidden" name="program_id" value="{{applicant.program_id}}" />
        </div>
            <div class="action-buttons">
                {% csrf_token %}
            <input type="radio" class="radio" name='approve' value="Approve">
            <label for="approve"></label>

            <input type="radio" class="radio" name='waitlist' value="Waitlist">
            <label for="waitlist"></label>

            <input type="radio" class="radio" name='reject' value="Reject">
            <label for="Reject"></label>
        </div>
    </form>
    {% endfor %}
</div> {% endcomment %}
{% endfor %}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.js"></script>
<script type="text/javascript" src="https://f001.backblazeb2.com/file/buonzz-assets/jquery.ph-locations.js"></script>

<script>
    function applyFilters() {
        const selectedStatuses = Array.from(document.querySelectorAll('.status-filter:checked')).map(filter => filter.value);

        applicantRows.forEach(function(row) {
            const applicantStatus = row.getAttribute('data-status');
            if (selectedStatuses.length === 0 || selectedStatuses.includes(applicantStatus)) {
                row.style.display = ''; 
            } else {
                row.style.display = 'none';
            }
        });
    }

    const statusFilters = document.querySelectorAll('.status-filter');
    const applicantRows = document.querySelectorAll('.applicant-row');

    statusFilters.forEach(filter => {
        filter.addEventListener('change', applyFilters);
    });

    const selectAllCheckbox = document.getElementById('selectAll');
    selectAllCheckbox.addEventListener('change', function() {
        const isChecked = this.checked;
        statusFilters.forEach(filter => {
            filter.checked = isChecked;
        });
        applyFilters();
    });
</script>
{% endblock %}