{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container my-5">
    <div class="container">
        {% for program in programs %}
            {% if program.id in applied_programs %}
                {% for scholarship in scholarships %}
                    {% if program.id == scholarship.program_id %}   
                        <h3>{{ program.name }}</h3>
                        <div class="program-partner-logos">
                            <img src="https://coursebank-static-assets-tmtg.s3.ap-northeast-1.amazonaws.com/DICT-Logo-nobg.png">
                            <img src="https://coursebank-static-assets-tmtg.s3.ap-northeast-1.amazonaws.com/ILCDB+logo_2.png">
                            <img src="https://coursebank-static-assets-tmtg.s3.ap-northeast-1.amazonaws.com/coursera-social-logo-brand.png">
                            <img src="https://coursebank-static-assets-tmtg.s3.ap-northeast-1.amazonaws.com/logo-moocsx.png">
                        </div>
                        <div class="container program">
                            <hr>
                            <h5>About this Program</h5>
                            {% if program.description %}
                            <p>{{program.description}}</p> <br>
                            <p>Click on the Coursera link below to check the collection under this program.</p>
                            {% else %}
                            <p>No description for this program.</p>
                            {% endif %}
                            <h5>Learning Platform</h5>
                            <p>
                                <a href="https://www.coursera.org/" target="_blank" style="color: #000 !important;">Coursera</a>
                            </p>
                            <hr>
                            <h5>Apply to this Program</h5>
                            <p>By applying to this program, you are agreeing to the program guidelines set forth by the granting organization.</p>
                            <br>
                            <p><a href="{% url 'guidelines' %}" target="_blank" style="color: #000 !important;">View program guidelines.</a></p>
                        </div>
                        <div class="container">
                            <form action="" class="program-application" id="apply" method="POST">
                                {% csrf_token %}
                                {% if atleast_approved_in_a_program %}
                                    {% if scholarship.status == 1 %}
                                        <button type="submit" class="btn solid">APPLIED</button>
                                    {% else %}
                                        <button type="submit" class="btn solid">CANNOT APPLY TO MORE THAN 1 PROGRAM</button>
                                    {% endif %}
                                {% else %}
                                    {% if scholarship.status == 1 %}
                                        <button type="submit" class="btn solid">ALREADY APPLIED</button>
                                    {% elif scholarship.status == 2 %}
                                        <button type="submit" class="btn solid">WAITLISTED</button>
                                    {% elif scholarship.status == 3 %}
                                        <input type="text" name="license_code" id="license_code" placeholder="Enter License Code" required>
                                        {% if user_details.username and user_details.first_name and user_details.last_name and user_details.email %}
                                            <button type="button" class="btn solid" onclick="verifyLicenseCode()">REJECTED</button>
                                        {% else %}
                                            <button type="button" class="btn disabled solid" onclick="verifyLicenseCode()">REJECTED</button>
                                        {% endif %}
                                        {% comment %} <button type="submit" class="btn solid">REJECTED</button> {% endcomment %}
                                        <p id="message">MESSAGE</p>
                                    {% else %}
                                        <button type="submit" class="btn solid">PENDING</button>
                                    {% endif %}
                                {% endif %}
                            </form>
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
            <h3>{{ program.name }}</h3>
            <div class="program-partner-logos">
                <img src="https://coursebank-static-assets-tmtg.s3.ap-northeast-1.amazonaws.com/DICT-Logo-nobg.png">
                <img src="https://coursebank-static-assets-tmtg.s3.ap-northeast-1.amazonaws.com/ILCDB+logo_2.png">
                <img src="https://coursebank-static-assets-tmtg.s3.ap-northeast-1.amazonaws.com/coursera-social-logo-brand.png">
                <img src="https://coursebank-static-assets-tmtg.s3.ap-northeast-1.amazonaws.com/logo-moocsx.png">
            </div>
            <div class="container program">
                <hr>
                            <h5>About this Program</h5>
                            {% if program.description %}
                            <p>{{program.description}}</p> <br>
                            <p>Click on the Coursera link below to check the collection under this program.</p>
                            {% else %}
                            <p>No description for this program.</p>
                            {% endif %}
                            <h5>Learning Platform</h4>
                            <p>
                                <a href="https://www.coursera.org/" target="_blank" style="color: #000 !important;">Coursera</a>
                            </p>
                            <hr>
                            <h5>Apply to this Program</h5>
                            <p>By applying to this program, you are agreeing to the program guidelines set forth by the granting organization.</p>
                            <br>
                            <p><a href="{% url 'guidelines' %}" target="_blank" class="text-dark">View program guidelines.</a></p>
            </div>
            <div class="program-progress">
                <form action="" class="program-application" id="apply" method="POST">
                    {% csrf_token %}
                    {% if atleast_approved_in_a_program %}
                        <button type="submit" class="btn solid">CANNOT APPLY TO MORE THAN 1 PROGRAM</button>
                    {% else %}
                        {% comment %} <input type="text" name="license_code" id="license_code" placeholder="Enter License Code" required>
                        {% if user_details.username and user_details.first_name and user_details.last_name and user_details.email %}
                            <button type="button" class="btn solid" onclick="verifyLicenseCode()">APPLY NOW</button>
                        {% else %}
                            <button type="button" class="btn solid" disabled title="Please complete all user details">APPLY NOW</button>
                        {% endif %} {% endcomment %}
                    {% endif %}
                </form>
            </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

<script>
function verifyLicenseCode() {
    var licenseCode = document.getElementById('license_code').value;
    var programId = "{{ program_id }}";
    var jsonData = {
        "data": [
            {
                "license_code": "AbCdEfG12345",
                "expiration_date": "2023-12-31",
                "program_id": "0000000000000007"
            },
            {
                "license_code": "HgFtYiJ67890",
                "expiration_date": "2023-12-31",
                "program_id": "0000000000000007"
            }
        ]
    };

    var filteredData = jsonData.data.filter(function(item) {
        return item.program_id === programId;
    });

    var isCodeValid = false;
    filteredData.forEach(function(item) {
        if (item.license_code === licenseCode) {
            isCodeValid = true;
        }
    });

    var messageElement = document.getElementById('message');
    if (isCodeValid) {
        messageElement.innerText = 'License code is valid.';
        document.getElementById('apply').submit(); // Submit the form to redirect
    } else {
        messageElement.innerText = 'Invalid license code. Please try again.';
    }
}
</script>
    
{% endblock %}

