{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/courses.css' %}"/>
    
    <div class="container">
        <div class="course-cards">
        <h1>Courses</h1>

        {% for course in courses %}
            <div class="course-card">
                <div class="topic-badge">{{ course.topics.0 }}</div>
                <img src="{{ course.image.src }}" alt="{{ course.title }}">
                <div class="course-details">
                    <h2>{{ course.title }}</h2>
                    {% for owners in course.owners %}
                    <p>{{ owners.key }}</p>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}
