{% load static %}
<center>
<h1>ADMIN</h1>
</center>

<div class="tab col col-2">
    <div class="tablinks active" onclick="openTab(event, 'Users')">USERS</div>
    <div class="tablinks" onclick="openTab(event, 'Announcements')">ANNOUNCEMENTS</div>
    <div class="tablinks" onclick="openTab(event, 'Scholarships')">SCHOLARSHIPS</div>
    <div class="tablinks" onclick="openTab(event, 'ScholarshipApplication')">SCHOLARSHIP APPLICATION</div>  
</div>

<div class="card col col-10">
    <div class="card-body">
  
      <div id="Users" class="tabcontent" style="display: block">
        <h2 class="card-title">Announcements</h2>
        {% comment %} {% include "sparta_scholar_profile.html" %} {% endcomment %}
       </div>
  
      <div id="Announcements" class="tabcontent" style="display: none">
        <h2 class="card-title">Announcements</h2>
      </div>
  
      <div id="Scholarships" class="tabcontent" style="display: none">
        <h2 class="card-title">Microspecializations</h2>
        
      </div>
       <!--  ############################################################# -->
  
      <div id="MyScholarships" class="tabcontent" style="display: none">
        <h2 class="card-title">My Scholarship Programs</h2>
        <table class="table table-course-actions">
          <thead class="thead-light">
            <tr>
              <th>SPARTA Pathway</th>
              <th>Status</th>
              <th></th>
            </tr>
          </thead>
  
          <tbody>
            {% if applications %}
            {% for app in applications %}
            <tr>
              <td style="vertical-align: middle;">{{ app.pathway }}</td>
              <td style="vertical-align: middle;">{{ app.get_status_display }}</td>
              {% if app.status == 'AP' %}
              <td>
                <div class="dropdown show">
                  <a class="btn btn-primary" href="{% url 'sparta-pathway-progress' pathway_id=app.pathway.id %}">
                    Progress
                  </a>
                  <a class="btn btn-primary" href="{% url 'sparta-pathway-courses' pathway_id=app.pathway.id %}">
                    Courses
                  </a>
                  </div>
                </div>
              </td>
              {% elif app.status == 'DE' %}
              <td>-</td>
              {% else %}
              <td><div type="div" class="btn btn-outline-secondary" style="cursor: pointer" data-toggle="modal" data-target="#withdrawModal">Withdraw</div></td>
              <!-- Modal Block -->
              <div class="modal fade" id="withdrawModal" tabindex="-1" role="dialog" aria-labelledby="withdrawModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="withdrawModalLabel">Withdraw Application</h5>
                      <div type="div" class="close" style="cursor: pointer" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </div>
                    </div>
                    <div class="modal-body">
                      Are you sure you want to withdraw your application for this Learning Pathway ({{ app.pathway }})?
                    </div>
                    <div class="modal-footer">
                      <form action="{% url 'sparta-withdraw' id=app.id %}" method="POST">
                        {% csrf_token %}
                        <div type="div" class="btn btn-secondary" data-dismiss="modal">Cancel</div>
                        <input class="btn btn-primary" id="submit" type="submit" value="Yes, Withdraw My Application" />
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              {% endif %}
            </tr>
            {% endfor %}
            {% else %}
            <tr>
              <td>-</td>
              <td>-</td>
            </tr>
            {% endif %}
          </tbody>   
        </table>
  
      </div>
    
    </div>
  </div>



<script>
var sensor_name = "";
var counter = 1;

function openTab(evt, cityName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the link that opened the tab
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
}
</script>