{% load static %}

{% block title %} Scholarium | Administration | Staff {% endblock %}

{% block body %}

<div>
    <div>
        <center>
            <h1>ADMIN STAFF</h1>
        </center>
    </div>
    <table>
        <thead>
          <tr>
            <th>Username</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
            {% for staff in staff_users %}
            <tr>
                <td>{{ staff.username }}</td>
                <td>{{ staff.email }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}