{% extends 'base.html' %}
{% load static %}
{% load parse_iso %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/courses.css' %}"/>
    
    {% comment %} <div class="container my-5">
        <h3>Courses</h3>
        <div class="course-cards my-5">

        {% for course in courses %}
            <div class="course-card">
                <div class="topic-badge">{{ course.topics.0 }}</div>
                <img src="{{ course.image.src }}" alt="{{ course.title }}">
                <div class="course-details p-3">
                    <p class="text-dark course-title">{{ course.title }}<p>
                    {% for owners in course.owners %}
                    <p class="partner-card mt-3">{{ owners.key }}</p>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        </div>
    </div> {% endcomment %}

    <div class="bg-light">
        <div class="container my-5 py-5">
            <h3>Programs</h3>
                    <div class="partner-cards my-5">
                        {% for program in program_list %} 
                                <a href="{% url 'program' program.partner_id program.id %}">
                                    <div class="partner-card-container">
                                        <div class="partner-card-image">
                                            <img src="https://coursebank-static-assets-tmtg.s3.ap-northeast-1.amazonaws.com/sample-background.jpeg">
                                        </div>
                                        
                                        <div class="card-partner-logo">
                                            <img src="https://coursebank-static-assets-tmtg.s3.ap-northeast-1.amazonaws.com/DICT-Logo-nobg.png">
                                            <img src="https://coursebank-static-assets-tmtg.s3.ap-northeast-1.amazonaws.com/ILCDB+logo_2.png">
                                            <img src="https://coursebank-static-assets-tmtg.s3.ap-northeast-1.amazonaws.com/coursera-social-logo-brand.png">
                                            <img src="https://coursebank-static-assets-tmtg.s3.ap-northeast-1.amazonaws.com/logo-moocsx.png">
                                        </div>
                                        
                                        <div class="card-content p-3">
                                            <div class="container-card-title pt-3">
                                                <h5 class="text-dark">{{program.name}}</h5>
                                                <p class="card-title-content">
                                                    {% if program.end_date %}
                                                        {{program.start_date|parse_iso|date:"M d"}} - {{program.end_date|parse_iso|date:"M d, Y"}}
                                                    {% else %}
                                                        since {{program.start_date|parse_iso|date:"M d, Y"}}
                                                    {% endif %}
                                                    {% if program.registration_end %}
                                                        <br>Registration closes on <br>
                                                        {{program.registration_end}}
                                                    {% else %}
                                                        <br>Registration is open
                                                    {% endif %}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>    
                        {% endfor %}
                    </div>
        </div>
    </div>
{% endblock %}
